Repository antrea-io/antrea, pull requests merged in 2021-11, with the labels that each got.

#2969 Automated cherry pick of #2968: Fix missing parameter in tests
  test/e2e/antreapolicy_test.go
Labels: kind/cherry-pick

#2854 Combine FlowExporter resources initialization in agent.go
  cmd/antrea-agent/agent.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/agent/flowexporter/connections/connections.go
  pkg/agent/flowexporter/connections/connections_test.go
  pkg/agent/flowexporter/connections/conntrack_connections.go
  pkg/agent/flowexporter/connections/conntrack_connections_perf_test.go
  pkg/agent/flowexporter/connections/conntrack_connections_test.go
  pkg/agent/flowexporter/connections/deny_connections.go
  pkg/agent/flowexporter/connections/deny_connections_test.go
  pkg/agent/flowexporter/exporter/exporter.go
  pkg/agent/flowexporter/exporter/exporter_perf_test.go
  pkg/agent/flowexporter/exporter/exporter_test.go
  pkg/agent/flowexporter/types.go
  test/integration/agent/flowexporter_test.go
Labels: area/flow-visibility

#2853 Fluentd for Audit Logging
  Makefile
  docs/antrea-network-policy.md
  docs/cookbooks/fluentd/README.md
  docs/cookbooks/fluentd/resources/fluentd.yml
  docs/cookbooks/fluentd/resources/kibana-elasticsearch.yml
  docs/cookbooks/fluentd/resources/kubernetes.conf
  docs/network-flow-visibility.md
  hack/update-spelling.sh
  hack/update-toc.sh
Labels: area/network-policy, review-manager-test

#2989 Automated cherry pick of #2985: Rewrite dMAC as the gateway's only for local and
  pkg/agent/openflow/pipeline.go
  test/integration/agent/openflow_test.go
Labels: kind/cherry-pick

#2963 Add AKS Engine to AKS installation doc
  docs/aks-installation.md
  docs/getting-started.md
Labels: area/provider/azure, kind/documentation

#2992 Add example values of the clusterCIDRs parameter of NodeIPAM
  docs/antrea-ipam.md
  docs/eks-installation.md
Labels: area/ipam, kind/documentation

#2952 Add startTime to the Traceflow Status
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  build/yamls/base/crds.yml
  pkg/apis/crd/v1alpha1/types.go
  pkg/apis/crd/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/traceflow/controller.go
Labels: kind/api-change, area/ops/traceflow

#2878 Support antctl in the flow aggregator
  build/images/flow-aggregator/Dockerfile
  build/images/flow-aggregator/Dockerfile.coverage
  build/yamls/flow-aggregator.yml
  build/yamls/flow-aggregator/base/conf/flow-aggregator.conf
  build/yamls/flow-aggregator/base/flow-aggregator.yml
  ci/kind/test-e2e-kind.sh
  cmd/flow-aggregator/flow-aggregator.go
  cmd/flow-aggregator/options.go
  docs/antctl.md
  docs/network-flow-visibility.md
  docs/troubleshooting.md
  go.mod
  go.sum
  pkg/antctl/antctl.go
  pkg/antctl/client.go
  pkg/antctl/command_definition.go
  pkg/antctl/command_definition_test.go
  pkg/antctl/command_list.go
  pkg/antctl/runtime/runtime.go
  pkg/antctl/transform/common/transform.go
  pkg/antctl/transform/version/transform.go
  pkg/apis/ports.go
  pkg/config/flowaggregator/config.go
  pkg/flowaggregator/apiserver/apiserver.go
  pkg/flowaggregator/apiserver/handlers/flowrecords/handler.go
  pkg/flowaggregator/apiserver/handlers/recordmetrics/handler.go
  pkg/flowaggregator/flowaggregator.go
  pkg/flowaggregator/querier/querier.go
  pkg/ipfix/ipfix_intermediate.go
  pkg/ipfix/testing/mock_ipfix.go
  plugins/octant/go.sum
  test/e2e/antctl_test.go
  test/e2e/flowaggregator_test.go
  test/e2e/framework.go
Labels: area/component/antctl, area/flow-visibility/aggregator, review-manager-test

#3007 Use go 1.17 to build release assets
  .github/workflows/upload_release_assets.yml
Labels: area/build-release

#3011 Automated cherry pick of #3007: Use go 1.17 to build release assets
  .github/workflows/upload_release_assets.yml
Labels: kind/cherry-pick

#2976 [Windows] Remove HNSEndpoint only if infra container fails to create
  pkg/agent/cniserver/interface_configuration_windows.go
Labels: area/OS/windows

#3014 Update ROADMAP doc
  ROADMAP.md
Labels: kind/documentation

#2998 Automated cherry pick of #2985: Rewrite dMAC as the gateway's only for local and
  pkg/agent/openflow/pipeline.go
  test/integration/agent/openflow_test.go
Labels: kind/cherry-pick

#2999 Automated cherry pick of #2985: Rewrite dMAC as the gateway's only for local and
  pkg/agent/openflow/pipeline.go
  test/integration/agent/openflow_test.go
Labels: kind/cherry-pick

#3036 Fix typos and formatting
  pkg/agent/cniserver/ipam/antrea_ipam.go
  pkg/agent/cniserver/ipam/antrea_ipam_controller.go
  pkg/agent/cniserver/ipam/antrea_ipam_test.go
  pkg/ipam/poolallocator/allocator.go
Labels: area/ipam
