Repository antrea-io/antrea, pull requests merged in 2022-04, with the labels that each got.

#3482 Automated cherry pick of #3430: Fix pkt mark conflict between HostLocalSourceMark and
  pkg/agent/types/marks.go
  test/integration/agent/route_test.go
Labels: kind/cherry-pick

#3483 Automated cherry pick of #3430: Fix pkt mark conflict between HostLocalSourceMark and
  pkg/agent/types/marks.go
  test/integration/agent/route_test.go
Labels: kind/cherry-pick

#2792 Support Internal Traffic Policy in AntreaProxy
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
Labels: area/proxy, action/release-note

#3555 Unify the installation of initial flows in AntreaProxy
  cmd/antrea-agent/agent.go
  pkg/agent/agent.go
  pkg/agent/agent_linux.go
  pkg/agent/agent_windows.go
  pkg/agent/config/node_config.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/egress.go
  pkg/agent/openflow/multicast.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/pod_connectivity.go
  pkg/agent/openflow/service.go
  pkg/agent/openflow/testing/mock_openflow.go
  test/integration/agent/openflow_test.go
Labels: area/component/agent

#3561 Export Service's name to support multi-ports
  ci/jenkins/test-mc.sh
  docs/multicluster/user-guide.md
  multicluster/controllers/multicluster/resourceexport_controller.go
  multicluster/controllers/multicluster/resourceexport_controller_test.go
  multicluster/controllers/multicluster/serviceexport_controller.go
  multicluster/controllers/multicluster/serviceexport_controller_test.go
Labels: kind/bug, area/multi-cluster, action/backport, action/release-note

#3569 Fix reject loop issue and add error handling
  pkg/agent/controller/networkpolicy/reject.go
  test/e2e/antreapolicy_test.go
Labels: kind/bug, action/backport, action/release-note

#3597 Automated cherry pick of #3561: Export Service's name to support multi-ports
  ci/jenkins/test-mc.sh
  docs/multicluster/getting-started.md
  multicluster/controllers/multicluster/resourceexport_controller.go
  multicluster/controllers/multicluster/resourceexport_controller_test.go
  multicluster/controllers/multicluster/serviceexport_controller.go
  multicluster/controllers/multicluster/serviceexport_controller_test.go
Labels: kind/cherry-pick

#3529 Antrea IPAM for secondary networks managed by Multus
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  build/yamls/base/crds.yml
  cmd/antrea-agent/agent.go
  pkg/agent/cniserver/ipam/antrea_ipam.go
  pkg/agent/cniserver/ipam/antrea_ipam_controller.go
  pkg/agent/cniserver/ipam/antrea_ipam_test.go
  pkg/agent/cniserver/ipam/ipam_delegator.go
  pkg/agent/cniserver/ipam/ipam_service.go
  pkg/agent/cniserver/pod_configuration.go
  pkg/agent/cniserver/server.go
  pkg/agent/cniserver/server_test.go
  pkg/agent/cniserver/types/arg_types.go
  pkg/agent/cniserver/types/types.go
  pkg/apis/crd/v1alpha2/types.go
  pkg/controller/ipam/validate.go
  pkg/controller/ipam/validate_test.go
  pkg/ipam/poolallocator/allocator.go
  pkg/ipam/poolallocator/allocator_test.go
  test/e2e/antreaipam_test.go
  test/e2e/framework.go
  test/e2e/providers/exec/docker.go
  test/e2e/providers/exec/ssh.go
  test/e2e/providers/interface.go
  test/e2e/providers/kind.go
  test/e2e/providers/remote.go
  test/e2e/providers/vagrant.go
  test/e2e/secondary_network_ipam_test.go
  test/integration/agent/cniserver_test.go
Labels: area/ipam, area/component/cni

#3602 Automated cherry pick of #3561: Export Service's name to support multi-ports
  ci/jenkins/test-mc.sh
  docs/multicluster/user-guide.md
  multicluster/controllers/multicluster/resourceexport_controller.go
  multicluster/controllers/multicluster/resourceexport_controller_test.go
  multicluster/controllers/multicluster/serviceexport_controller.go
  multicluster/controllers/multicluster/serviceexport_controller_test.go
Labels: kind/cherry-pick

#3596 Fix importer issue after leader controller restart
  multicluster/controllers/multicluster/commonarea/leader_elector.go
  multicluster/controllers/multicluster/commonarea/remote_common_area.go
  multicluster/controllers/multicluster/commonarea/resourceimport_controller.go
Labels: kind/bug, area/multi-cluster, action/release-note

#3606 Support multiple IPPools for secondary network IPAM
  pkg/agent/cniserver/ipam/antrea_ipam.go
  pkg/agent/cniserver/ipam/antrea_ipam_controller.go
  pkg/agent/cniserver/ipam/antrea_ipam_test.go
  pkg/ipam/poolallocator/allocator.go
  pkg/ipam/poolallocator/allocator_test.go
  test/e2e/secondary_network_ipam_test.go
Labels: area/ipam, action/release-note

#3609 Truncate SessionAffinity timeout values instead of wrapping around
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
Labels: area/ovs/openflow, area/ovs, area/proxy, action/release-note

#3601 Automated cherry pick of #3569: Fix reject loop issue and add error handling
  pkg/agent/controller/networkpolicy/reject.go
  test/e2e/antreapolicy_test.go
Labels: kind/cherry-pick

#3600 Automated cherry pick of #3569: Fix reject loop issue and add error handling
  pkg/agent/controller/networkpolicy/reject.go
  test/e2e/antreapolicy_test.go
Labels: kind/cherry-pick

#3634 Add documentation for secondary network IPAM
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  build/yamls/base/conf/antrea-agent.conf
  build/yamls/base/conf/antrea-controller.conf
  docs/antrea-ipam.md
  docs/cookbooks/multus/README.md
  docs/cookbooks/multus/resources/netAttachDef.yml
  docs/cookbooks/multus/resources/netattachdef-ippool.yml
  docs/feature-gates.md
  pkg/config/agent/config.go
  pkg/features/antrea_features.go
Labels: area/ipam, kind/documentation

#3591 Update OVS to 2.17.0
  build/images/deps/ovs-version
  build/images/ovs/apply-patches.sh
  docs/troubleshooting.md
Labels: area/dependency, action/release-note

#3645 Out-of-the-box "Agent mode" support for antctl on Windows
  pkg/antctl/client.go
  pkg/antctl/runtime/runtime.go
  test/e2e/antctl_test.go
Labels: area/OS/windows, area/component/antctl, action/release-note

#3641 [Windows] Use IP and MAC to find virtual management adatper
  pkg/agent/agent_windows.go
  pkg/agent/util/net_windows.go
Labels: area/OS/windows, kind/bug, action/release-note

#3656 Update ClickHouse Server default image in ClickHouse-Operator manifest
  build/yamls/clickhouse-operator-install-bundle.yml
Labels: area/flow-visibility

#3658 Improve robustness of memberlist cluster unit tests
  pkg/agent/memberlist/cluster_test.go
Labels: kind/failing-test

#3528 Automated cherry pick of #3516: Use uplink MAC as source if packet is output to
  pkg/agent/agent_windows.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/pipeline_windows.go
Labels: kind/cherry-pick

#3667 Improve flow visibility documentation
  docs/network-flow-visibility.md
Labels: kind/documentation, area/flow-visibility

#3510 Fix the issue of local probe bypassing flows on Windows
  pkg/agent/openflow/client.go
  pkg/agent/openflow/fields.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/pod_connectivity.go
  pkg/ovs/openflow/ofctrl_builder.go
  test/integration/agent/openflow_test.go
Labels: action/release-note

#3633 Support static addresses in secondary network IPAM
  pkg/agent/cniserver/ipam/antrea_ipam.go
  pkg/agent/cniserver/types/types.go
  test/e2e/secondary_network_ipam_test.go
Labels: area/ipam

#3653 Return an error when bridging mode is enabled without AntreaIPAM enabled
  cmd/antrea-agent/options.go
Labels: area/ipam

#3472 Add ICMP support in ACNP and ANP
  build/charts/antrea/templates/crds/clusternetworkpolicy.yaml
  build/charts/antrea/templates/crds/networkpolicy.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  pkg/agent/openflow/network_policy.go
  pkg/agent/openflow/network_policy_test.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/types/networkpolicy.go
  pkg/apis/controlplane/types.go
  pkg/apis/controlplane/v1beta2/generated.pb.go
  pkg/apis/controlplane/v1beta2/generated.proto
  pkg/apis/controlplane/v1beta2/types.go
  pkg/apis/controlplane/v1beta2/zz_generated.conversion.go
  pkg/apis/controlplane/v1beta2/zz_generated.deepcopy.go
  pkg/apis/controlplane/zz_generated.deepcopy.go
  pkg/apis/crd/v1alpha1/types.go
  pkg/apis/crd/v1alpha1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/client/clientset/versioned/typed/crd/v1alpha2/crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1alpha2/fake/fake_crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1alpha2/generated_expansion.go
  pkg/client/informers/externalversions/crd/v1alpha2/interface.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/crd/v1alpha2/expansion_generated.go
  pkg/controller/networkpolicy/antreanetworkpolicy.go
  pkg/controller/networkpolicy/antreanetworkpolicy_test.go
  pkg/controller/networkpolicy/clusternetworkpolicy.go
  pkg/controller/networkpolicy/clusternetworkpolicy_test.go
  pkg/controller/networkpolicy/crd_utils.go
  pkg/controller/networkpolicy/crd_utils_test.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/controller/networkpolicy/status_controller_test.go
  pkg/controller/networkpolicy/validate.go
  pkg/controller/networkpolicy/validate_test.go
  pkg/controller/stats/aggregator.go
  pkg/ovs/openflow/interfaces.go
  pkg/ovs/openflow/ofctrl_builder.go
  pkg/ovs/openflow/testing/mock_openflow.go
  plugins/octant/cmd/antrea-octant-plugin/traceflow.go
Labels: api-review, kind/feature, action/release-note

#3683 Automated cherry pick of #3661: Replace busybox source to fix image errors
  test/e2e/framework.go
Labels: kind/cherry-pick

#3682 Automated cherry pick of #3661: Replace busybox source to fix image errors
  test/e2e/framework.go
Labels: kind/cherry-pick

#3655 Fix race condition in ConntrackConnectionStore and FlowExporter
  pkg/agent/flowexporter/connections/connections.go
  pkg/agent/flowexporter/connections/conntrack_connections.go
  pkg/agent/flowexporter/connections/conntrack_connections_test.go
  test/e2e/framework.go
Labels: kind/bug, area/flow-visibility/exporter

#3652 Clean up Endpoint kind of ResourceExport
  multicluster/controllers/multicluster/serviceexport_controller.go
  multicluster/test/integration/serviceexport_controller_test.go
Labels: kind/cleanup, area/multi-cluster

#3629 Fix e2e test for multicluster service
  ci/jenkins/test-mc.sh
  multicluster/test/e2e/framework.go
  multicluster/test/e2e/service_test.go
Labels: area/multi-cluster

#3677 Remove ovsDatapathType in openflow client structure
  cmd/antrea-agent/agent.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/meters_linux.go
  pkg/agent/openflow/meters_others.go
  pkg/agent/openflow/network_policy_test.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/pod_connectivity.go
  test/integration/agent/openflow_test.go
Labels: area/ovs/openflow, action/release-note

#3644 Add TrafficControl API
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/templates/agent/clusterrole.yaml
  build/charts/antrea/templates/crds/trafficcontrol.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  pkg/apis/crd/v1alpha2/types.go
  pkg/apis/crd/v1alpha2/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/crd/v1alpha2/crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1alpha2/fake/fake_crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1alpha2/fake/fake_trafficcontrol.go
  pkg/client/clientset/versioned/typed/crd/v1alpha2/generated_expansion.go
  pkg/client/clientset/versioned/typed/crd/v1alpha2/trafficcontrol.go
  pkg/client/informers/externalversions/crd/v1alpha2/interface.go
  pkg/client/informers/externalversions/crd/v1alpha2/trafficcontrol.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/crd/v1alpha2/expansion_generated.go
  pkg/client/listers/crd/v1alpha2/trafficcontrol.go
  pkg/features/antrea_features.go
Labels: area/api, kind/api-change, kind/feature, action/release-note

#3689 Add Gateway and ClusterInfoImport CRDs
  multicluster/PROJECT
  multicluster/apis/multicluster/v1alpha1/clusterinfoimport_types.go
  multicluster/apis/multicluster/v1alpha1/gateway_types.go
  multicluster/apis/multicluster/v1alpha1/multiclusterconfig_types.go
  multicluster/apis/multicluster/v1alpha1/resourceexport_types.go
  multicluster/apis/multicluster/v1alpha1/resourceimport_types.go
  multicluster/apis/multicluster/v1alpha1/status.go
  multicluster/apis/multicluster/v1alpha1/zz_generated.deepcopy.go
  multicluster/build/yamls/antrea-multicluster-leader-global.yml
  multicluster/build/yamls/antrea-multicluster-leader-namespaced.yml
  multicluster/build/yamls/antrea-multicluster-member.yml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_clusterinfoimports.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_gateway.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_gateways.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceexports.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceimports.yaml
  multicluster/config/crd/kustomization.yaml
  multicluster/config/crd/patches/webhook_in_clusterinfoimports.yaml
  multicluster/config/crd/patches/webhook_in_gatewaynodes.yaml
  multicluster/config/default/configmap/controller_manager_config.yaml
  multicluster/config/default/kustomization.yaml
  multicluster/config/overlays/leader-global/crd_patch.yaml
  multicluster/config/overlays/member/role.yaml
  multicluster/config/rbac/clusterinfoimport_editor_role.yaml
  multicluster/config/rbac/clusterinfoimport_viewer_role.yaml
  multicluster/config/rbac/gatewaynode_editor_role.yaml
  multicluster/config/rbac/gatewaynode_viewer_role.yaml
  multicluster/config/rbac/role.yaml
  multicluster/config/samples/multicluster_v1alpha1_clusterinfoimport.yaml
  multicluster/config/samples/multicluster_v1alpha1_gateway.yaml
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/clusterinfoimport.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_clusterinfoimport.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_gateway.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_multicluster_client.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/gateway.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/generated_expansion.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/multicluster_client.go
  multicluster/pkg/client/informers/externalversions/generic.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/clusterinfoimport.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/gateway.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/interface.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/clusterinfoimport.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/expansion_generated.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/gateway.go
Labels: area/multi-cluster

#3643 Optimize flows in ConntrackCommitTable
  pkg/agent/openflow/pipeline.go
  test/integration/agent/openflow_test.go
Labels: area/ovs/openflow, action/release-note

#3654 Update Kind from v0.11.1 to v0.12.0
  .github/workflows/kind.yml
  .github/workflows/kind_upgrade.yml
  .github/workflows/netpol_cyclonus.yml
  ci/kind/kind-setup.sh
  multicluster/hack/verify-tools.sh
Labels: area/test/infra

#3646 Update Windows documentation
  docs/windows.md
Labels: area/OS/windows, kind/documentation

#3695 Automated cherry pick of #3220: Upgrade default K8s version tested in eks
  ci/jenkins/README.md
  ci/test-conformance-eks.sh
Labels: kind/cherry-pick

#3696 Automated cherry pick of #3220: Upgrade default K8s version tested in eks
  ci/jenkins/README.md
  ci/test-conformance-eks.sh
Labels: kind/cherry-pick

#3700 Determine conformance container image version at runtime
  ci/README.md
  ci/k8s-conformance-image-version
  ci/run-k8s-e2e-tests.sh
  ci/test-conformance-aks.sh
  ci/test-conformance-eks.sh
  ci/test-conformance-gke.sh
  ci/verify-sonobuoy.sh
Labels: area/test

#3718 Automated cherry pick of #3700: Determine conformance container image version at runtime #3701: Use default dnsPolicy for AKS
  build/yamls/antrea-aks.yml
  build/yamls/patches/aks/dnsPolicy.yml
  ci/README.md
  ci/k8s-conformance-image-version
  ci/run-k8s-e2e-tests.sh
  ci/test-conformance-aks.sh
  ci/test-conformance-eks.sh
  ci/test-conformance-gke.sh
  ci/verify-sonobuoy.sh
  hack/generate-manifest.sh
Labels: kind/cherry-pick

#3694 Document some of the Antrea Agent RBAC permissions
  docs/security.md
Labels: kind/documentation
