Repository antrea-io/antrea, pull requests merged in 2022-08, with the labels that each got.

#4056 Cleanup ResourceExport if exported Service has no available Endpoints
  multicluster/controllers/multicluster/serviceexport_controller.go
  multicluster/controllers/multicluster/serviceexport_controller_test.go
  multicluster/test/integration/serviceexport_controller_test.go
Labels: area/multi-cluster

#3799 [ExternalNode] Handle ExternalNode from Antrea agent side
  build/charts/antrea/conf/antrea-agent.conf
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  build/yamls/externalnode/conf/antrea-agent.conf
  build/yamls/externalnode/vm-agent-rbac.yml
  cmd/antrea-agent/agent.go
  cmd/antrea-agent/options.go
  pkg/agent/agent.go
  pkg/agent/agent_linux.go
  pkg/agent/agent_windows.go
  pkg/agent/config/node_config.go
  pkg/agent/controller/networkpolicy/cache.go
  pkg/agent/controller/networkpolicy/cache_test.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/agent/controller/networkpolicy/reject.go
  pkg/agent/controller/networkpolicy/status_controller_test.go
  pkg/agent/externalnode/external_node_controller.go
  pkg/agent/externalnode/external_node_controller_linux.go
  pkg/agent/externalnode/external_node_controller_windows.go
  pkg/agent/interfacestore/types.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/externalnode_connectivity.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/agent/util/net.go
  pkg/agent/util/net_linux.go
  pkg/agent/util/net_windows.go
  pkg/config/agent/config.go
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/ovs/ovsctl/appctl.go
  pkg/ovs/ovsctl/interface.go
  pkg/ovs/ovsctl/testing/mock_ovsctl.go
  test/integration/agent/openflow_test.go
Labels: kind/feature, action/release-note

#3072 IPPool counters
  build/charts/antrea/crds/ippool.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  pkg/apis/crd/v1alpha2/types.go
  pkg/apis/crd/v1alpha2/zz_generated.deepcopy.go
  pkg/controller/externalippool/controller.go
  pkg/controller/externalippool/controller_test.go
  pkg/controller/ipam/antrea_ipam_controller.go
  pkg/ipam/ipallocator/allocator.go
  pkg/ipam/poolallocator/allocator.go
  pkg/ipam/poolallocator/allocator_test.go
Labels: api-review, kind/feature, action/release-note

#4074 Remove unnecessary Namespace validation in leader
  multicluster/controllers/multicluster/controller_utils.go
  multicluster/controllers/multicluster/leader_clusterset_controller.go
Labels: area/multi-cluster

#3997 Add ACNP appliedto NodePort svc support
  build/charts/antrea/crds/clusternetworkpolicy.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  docs/antrea-network-policy.md
  pkg/agent/controller/networkpolicy/cache.go
  pkg/agent/controller/networkpolicy/cache_test.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/agent/controller/networkpolicy/reconciler.go
  pkg/agent/controller/networkpolicy/reconciler_test.go
  pkg/agent/controller/networkpolicy/reject.go
  pkg/agent/controller/networkpolicy/status_controller_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/network_policy.go
  pkg/agent/openflow/pipeline.go
  pkg/apis/controlplane/sets.go
  pkg/apis/controlplane/types.go
  pkg/apis/controlplane/v1beta2/generated.pb.go
  pkg/apis/controlplane/v1beta2/generated.proto
  pkg/apis/controlplane/v1beta2/sets.go
  pkg/apis/controlplane/v1beta2/types.go
  pkg/apis/controlplane/v1beta2/zz_generated.conversion.go
  pkg/apis/controlplane/v1beta2/zz_generated.deepcopy.go
  pkg/apis/controlplane/zz_generated.deepcopy.go
  pkg/apis/crd/v1alpha1/types.go
  pkg/apis/crd/v1alpha1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/controller/networkpolicy/clusternetworkpolicy.go
  pkg/controller/networkpolicy/clusternetworkpolicy_test.go
  pkg/controller/networkpolicy/crd_utils.go
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/store/appliedtogroup.go
  pkg/controller/networkpolicy/validate.go
  pkg/controller/networkpolicy/validate_test.go
  pkg/controller/types/networkpolicy.go
  test/e2e/antreapolicy_test.go
  test/e2e/fixtures.go
  test/e2e/proxy_test.go
  test/e2e/utils/cnp_spec_builder.go
Labels: kind/feature, action/release-note

#3770 Openflow1.5 integration
  docs/antctl.md
  docs/design/ovs-pipeline.md
  docs/design/windows-design.md
  go.mod
  go.sum
  pkg/agent/controller/networkpolicy/fqdn.go
  pkg/agent/controller/networkpolicy/packetin.go
  pkg/agent/controller/networkpolicy/reject.go
  pkg/agent/controller/traceflow/packetin.go
  pkg/agent/controller/traceflow/packetin_test.go
  pkg/agent/multicast/mcast_discovery.go
  pkg/agent/multicast/mcast_discovery_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/multicast.go
  pkg/agent/openflow/packetin.go
  pkg/agent/openflow/pipeline.go
  pkg/ovs/openflow/interfaces.go
  pkg/ovs/openflow/ofctrl_action.go
  pkg/ovs/openflow/ofctrl_bridge.go
  pkg/ovs/openflow/ofctrl_builder.go
  pkg/ovs/openflow/ofctrl_flow.go
  pkg/ovs/openflow/ofctrl_group.go
  pkg/ovs/openflow/ofctrl_meter.go
  pkg/ovs/openflow/ofctrl_packetin.go
  pkg/ovs/openflow/ofctrl_packetin_test.go
  pkg/ovs/openflow/ofctrl_packetout.go
  pkg/ovs/openflow/ofctrl_packetout_test.go
  pkg/ovs/openflow/testing/mock_openflow.go
  pkg/ovs/ovsconfig/ovs_client.go
  pkg/ovs/ovsctl/ofctl.go
  plugins/octant/go.sum
  test/e2e/proxy_test.go
  test/integration/agent/openflow_test.go
  test/integration/ovs/ofctrl_test.go
  test/integration/ovs/openflow_test_utils.go
Labels: action/release-note

#4084 Remove ClusterSet member ID validation
  multicluster/controllers/multicluster/member_clusterset_controller.go
Labels: area/multi-cluster

#4087 Minor fixes for multi-cluster manifests
  multicluster/apis/multicluster/v1alpha1/clusterset_types.go
  multicluster/apis/multicluster/v1alpha1/memberclusterannounce_types.go
  multicluster/apis/multicluster/v1alpha2/clusterclaim_types.go
  multicluster/build/yamls/antrea-multicluster-leader-global.yml
  multicluster/build/yamls/antrea-multicluster-member.yml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_clusterclaims.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_clustersets.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_memberclusterannounces.yaml
  multicluster/controllers/multicluster/commonarea/acnp_resourceimport_controller_test.go
  multicluster/controllers/multicluster/commonarea/clusterinfo_importer_test.go
  multicluster/controllers/multicluster/commonarea/mock_remote_common_area_wrapper.go
  multicluster/controllers/multicluster/commonarea/resourceimport_controller_test.go
  multicluster/controllers/multicluster/gateway_controller_test.go
  multicluster/controllers/multicluster/member_clusterset_controller_test.go
  multicluster/controllers/multicluster/serviceexport_controller_test.go
  multicluster/controllers/multicluster/stale_controller_test.go
Labels: area/multi-cluster

#4054 Add controller for leader cluster to GC MemberClusterAnnounce
  multicluster/cmd/multicluster-controller/leader.go
  multicluster/cmd/multicluster-controller/member.go
  multicluster/controllers/multicluster/commonarea/remote_common_area.go
  multicluster/controllers/multicluster/stale_controller.go
  multicluster/controllers/multicluster/stale_controller_test.go
  multicluster/test/integration/suite_test.go
Labels: area/multi-cluster

#4047 Audit Logging support K8s Networkpolicy
  docs/antrea-network-policy.md
  pkg/agent/controller/networkpolicy/audit_logging.go
  pkg/agent/controller/networkpolicy/packetin.go
  pkg/agent/controller/networkpolicy/reconciler.go
  pkg/agent/controller/networkpolicy/reconciler_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/network_policy.go
  pkg/agent/openflow/network_policy_test.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/controller/networkpolicy/clusternetworkpolicy.go
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  test/e2e/antreapolicy_test.go
  test/e2e/framework.go
  test/integration/agent/openflow_test.go
Labels: kind/feature, area/network-policy, action/release-note

#4065 Support configurable tunnel port for TrafficEncapMode
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea-windows.yml
  build/yamls/antrea.yml
  build/yamls/windows/base/conf/antrea-agent.conf
  cmd/antrea-agent/agent.go
  pkg/agent/agent.go
  pkg/agent/config/node_config.go
  pkg/agent/controller/noderoute/node_route_controller.go
  pkg/agent/interfacestore/types.go
  pkg/agent/multicast/mcast_discovery_test.go
  pkg/config/agent/config.go
  pkg/ovs/ovsconfig/ovs_client.go
  test/integration/ovs/ovs_client_test.go
Labels: action/release-note

#4064 [CI] Fix NetworkPolicy tests on Clouds
  ci/test-conformance-aks.sh
  ci/test-conformance-eks.sh
  ci/test-conformance-gke.sh
Labels: area/test

#2438 Add support for Namespaced Group CRD
  build/charts/antrea/crds/clusternetworkpolicy.yaml
  build/charts/antrea/crds/networkpolicy.yaml
  build/charts/antrea/templates/controller/clusterrole.yaml
  build/charts/antrea/templates/crds/group.yaml
  build/charts/antrea/templates/webhooks/validating/crdvalidator.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-controller/controller.go
  docs/antrea-network-policy.md
  pkg/apis/controlplane/helper.go
  pkg/apis/controlplane/helper_test.go
  pkg/apis/crd/v1alpha1/types.go
  pkg/apis/crd/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/crd/v1alpha3/register.go
  pkg/apis/crd/v1alpha3/types.go
  pkg/apis/crd/v1alpha3/zz_generated.deepcopy.go
  pkg/apiserver/apiserver.go
  pkg/apiserver/registry/networkpolicy/groupassociation/rest.go
  pkg/apiserver/registry/networkpolicy/groupassociation/rest_test.go
  pkg/client/clientset/versioned/typed/crd/v1alpha3/crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1alpha3/fake/fake_crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1alpha3/fake/fake_group.go
  pkg/client/clientset/versioned/typed/crd/v1alpha3/generated_expansion.go
  pkg/client/clientset/versioned/typed/crd/v1alpha3/group.go
  pkg/client/informers/externalversions/crd/v1alpha3/group.go
  pkg/client/informers/externalversions/crd/v1alpha3/interface.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/crd/v1alpha3/expansion_generated.go
  pkg/client/listers/crd/v1alpha3/group.go
  pkg/controller/grouping/group_entity_index.go
  pkg/controller/networkpolicy/antreanetworkpolicy.go
  pkg/controller/networkpolicy/antreanetworkpolicy_test.go
  pkg/controller/networkpolicy/clustergroup.go
  pkg/controller/networkpolicy/clustergroup_test.go
  pkg/controller/networkpolicy/clusternetworkpolicy.go
  pkg/controller/networkpolicy/clusternetworkpolicy_test.go
  pkg/controller/networkpolicy/crd_utils.go
  pkg/controller/networkpolicy/crd_utils_test.go
  pkg/controller/networkpolicy/group.go
  pkg/controller/networkpolicy/group_test.go
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/controller/networkpolicy/status_controller.go
  pkg/controller/networkpolicy/status_controller_test.go
  pkg/controller/networkpolicy/store/group.go
  pkg/controller/networkpolicy/validate.go
  pkg/controller/networkpolicy/validate_test.go
  pkg/controller/types/group.go
  pkg/controller/types/networkpolicy.go
  test/e2e/antreapolicy_test.go
  test/e2e/flowaggregator_test.go
  test/e2e/group_test.go
  test/e2e/k8s_util.go
  test/e2e/utils/anp_spec_builder.go
  test/e2e/utils/grpspecbuilder.go
Labels: area/network-policy/api, kind/feature, area/grouping, review-manager-test

#3992 Add antctl commands to set up and delete Multi-cluster ClusterSet
  docs/multicluster/antctl.md
  go.mod
  multicluster/controllers/multicluster/commonarea/remote_common_area.go
  pkg/antctl/antctl.go
  pkg/antctl/raw/multicluster/add/member_cluster.go
  pkg/antctl/raw/multicluster/commands.go
  pkg/antctl/raw/multicluster/common/cleanup.go
  pkg/antctl/raw/multicluster/common/common.go
  pkg/antctl/raw/multicluster/common/rollback.go
  pkg/antctl/raw/multicluster/create/access_token.go
  pkg/antctl/raw/multicluster/create/clusterclaim.go
  pkg/antctl/raw/multicluster/create/clusterset.go
  pkg/antctl/raw/multicluster/delete/clusterclaim.go
  pkg/antctl/raw/multicluster/delete/clusterset.go
  pkg/antctl/raw/multicluster/delete/member_cluster.go
  pkg/antctl/raw/multicluster/destroy.go
  pkg/antctl/raw/multicluster/init.go
  pkg/antctl/raw/multicluster/join.go
  pkg/antctl/raw/multicluster/leave.go
Labels: area/multi-cluster

#4090 Validate ServiceAccount for ClusterSet member list changes
  multicluster/cmd/multicluster-controller/clusterset_webhook.go
  multicluster/cmd/multicluster-controller/clusterset_webhook_test.go
  multicluster/cmd/multicluster-controller/memberclusterannounce_webhook.go
Labels: area/multi-cluster

#4096 Document steps to set up Multi-cluster ClusterSet with antctl
  docs/multicluster/antctl.md
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
  multicluster/config/samples/clusterset_init/leader-access-token-template.yml
  multicluster/config/samples/clusterset_init/member-clusterset-template.yml
Labels: kind/documentation, area/multi-cluster

#4062 Add ClusterClaim deletion validator
  multicluster/apis/multicluster/v1alpha2/clusterclaim_webhook.go
  multicluster/build/yamls/antrea-multicluster-leader-namespaced.yml
  multicluster/build/yamls/antrea-multicluster-member.yml
  multicluster/cmd/multicluster-controller/clusterclaim_webhook.go
  multicluster/cmd/multicluster-controller/clusterclaim_webhook_test.go
  multicluster/cmd/multicluster-controller/controller.go
  multicluster/cmd/multicluster-controller/memberclusterannounce_webhook.go
  multicluster/config/webhook/manifests.yaml
  multicluster/controllers/multicluster/commonarea/mock_remote_common_area_wrapper.go
  multicluster/controllers/multicluster/commonarea/remote_common_area.go
  multicluster/controllers/multicluster/commonarea/remote_common_area_test.go
  multicluster/controllers/multicluster/leader_clusterset_controller.go
  multicluster/controllers/multicluster/leader_clusterset_controller_test.go
  multicluster/controllers/multicluster/member_clusterset_controller.go
  multicluster/controllers/multicluster/memberclusterannounce_controller.go
  multicluster/controllers/multicluster/memberclusterannounce_controller_test.go
Labels: area/multi-cluster

#4098 Add more comments to the antctl Multi-cluster commands code
  docs/multicluster/antctl.md
  pkg/antctl/raw/multicluster/init.go
  pkg/antctl/raw/multicluster/join.go
Labels: area/multi-cluster

#4101 Disable metrics api for multicluster controller and clean up configs
  multicluster/build/yamls/antrea-multicluster-leader-global.yml
  multicluster/build/yamls/antrea-multicluster-leader-namespaced.yml
  multicluster/build/yamls/antrea-multicluster-member.yml
  multicluster/cmd/multicluster-controller/options.go
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceexports.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceimports.yaml
  multicluster/config/default/configmap/controller_manager_config.yaml
  multicluster/config/manager/manager.yaml
Labels: area/multi-cluster

#4107 Fix Antrea Octant plugin build
  go.mod
  plugins/octant/go.mod
  plugins/octant/go.sum
Labels: kind/bug, action/backport, action/release-note

#4123 Fix the port type in the config
  multicluster/build/yamls/antrea-multicluster-leader-namespaced.yml
  multicluster/build/yamls/antrea-multicluster-member.yml
  multicluster/config/default/configmap/controller_manager_config.yaml
Labels: area/multi-cluster

#4117 Automated cherry pick of #4107: Fix Antrea Octant plugin build
  go.mod
  go.sum
  plugins/octant/go.mod
  plugins/octant/go.sum
Labels: kind/cherry-pick

#4125 Use config file to start controller with coverage
  multicluster/config/overlays/leader-ns/coverage/manager_command_patch_coverage.yaml
  multicluster/config/overlays/member/coverage/manager_command_patch_coverage.yaml
Labels: area/multi-cluster

#4118 Delete resource directly without checking old one
  multicluster/controllers/multicluster/commonarea/acnp_resourceimport_controller.go
  multicluster/controllers/multicluster/commonarea/resourceimport_controller.go
Labels: area/multi-cluster

#4124 [ExternalNode] Add known issue in the document
  docs/external-node.md
Labels: kind/documentation

#4128 Add missing step to release documentation
  docs/maintainers/release.md
Labels: kind/documentation

#4138 Fix image tag for Antrea and FlowAggregator Helm charts
  build/charts/antrea/templates/_helpers.tpl
  build/charts/antrea/templates/agent/daemonset.yaml
  build/charts/antrea/templates/controller/deployment.yaml
  build/charts/flow-aggregator/templates/_helpers.tpl
  build/charts/flow-aggregator/templates/deployment.yaml
Labels: action/backport

#4141 Automated cherry pick of #4138: Fix image tag for Antrea and FlowAggregator Helm charts
  build/charts/antrea/templates/_helpers.tpl
  build/charts/antrea/templates/agent/daemonset.yaml
  build/charts/antrea/templates/controller/deployment.yaml
  build/charts/flow-aggregator/templates/_helpers.tpl
  build/charts/flow-aggregator/templates/deployment.yaml
Labels: kind/cherry-pick

#4148 Fix unit tests that rely on pseudo-random numbers
  pkg/ovs/openflow/ofctrl_packetout.go
  pkg/ovs/openflow/ofctrl_packetout_test.go
Labels: area/test

#4032 Automated cherry pick of #4012: Improve install_cni_chaining to support updates to CNI conf
  build/charts/antrea/templates/agent/daemonset.yaml
  build/images/base/Dockerfile
  build/images/scripts/install_cni_chaining
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
Labels: kind/cherry-pick

#4154 Fix nil error issue
  multicluster/cmd/multicluster-controller/memberclusterannounce_webhook.go
  multicluster/cmd/multicluster-controller/memberclusterannounce_webhook_test.go
Labels: kind/bug, area/multi-cluster, action/backport, action/release-note

#4160 Avoid redundant Openflow messages when syncing an updated group to OVS
  pkg/ovs/openflow/ofctrl_group.go
Labels: area/proxy, action/backport, action/release-note

#4146 Use standard value type for k8s.v1.cni.cncf.io/networks annotation
  cmd/antrea-agent/agent.go
  hack/update-codegen-dockerized.sh
  pkg/agent/cniserver/server.go
  pkg/agent/secondarynetwork/cnipodcache/cache.go
  pkg/agent/secondarynetwork/ipam/ipam_delegator.go
  pkg/agent/secondarynetwork/ipam/testing/mock_ipam.go
  pkg/agent/secondarynetwork/podwatch/controller.go
  pkg/agent/secondarynetwork/podwatch/controller_test.go
  pkg/agent/secondarynetwork/podwatch/testing/mock_podwatch.go
  pkg/agent/secondarynetwork/podwatch/types.go
Labels: action/release-note

#4161 Automated cherry pick of #4160: Avoid redundant Openflow messages when syncing an updated
  pkg/ovs/openflow/ofctrl_group.go
Labels: kind/cherry-pick

#4162 Automated cherry pick of #4160: Avoid redundant Openflow messages when syncing an updated
  pkg/ovs/openflow/ofctrl_group.go
Labels: kind/cherry-pick

#4163 Automated cherry pick of #4160: Avoid redundant Openflow messages when syncing an updated
  pkg/ovs/openflow/ofctrl_group.go
Labels: kind/cherry-pick

#4164 Automated cherry pick of #4160: Avoid redundant Openflow messages when syncing an updated
  pkg/ovs/openflow/ofctrl_group.go
Labels: kind/cherry-pick

#4173 Automated cherry pick of #4154: Fix nil error issue
  multicluster/cmd/multicluster-controller/memberclusterannounce_webhook.go
  multicluster/cmd/multicluster-controller/memberclusterannounce_webhook_test.go
Labels: kind/cherry-pick

#4158 Improve multi-cluster unit test
  multicluster/cmd/multicluster-controller/clusterset_webhook_test.go
  multicluster/controllers/multicluster/common/helper.go
  multicluster/controllers/multicluster/controller_utils_test.go
Labels: area/multi-cluster
