Repository antrea-io/antrea, pull requests merged in 2022-06, with the labels that each got.

#3858 Reduce dataplane overhead caused by ct action
  pkg/agent/openflow/framework.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/pipeline_test.go
  test/integration/agent/openflow_test.go
Labels: action/release-note

#3579 Add known issues section to Vagrant documentation
  test/e2e/README.md
Labels: kind/documentation, area/test/infra

#3853 Update multi-cluster user guide and templates
  docs/multicluster/api.md
  docs/multicluster/assets/sample-clusterset.svg
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
  hack/.notableofcontents
  multicluster/apis/multicluster/v1alpha1/clusterclaim_types.go
  multicluster/config/samples/clusterset_init/multicluster_clusterset_template.yaml
  multicluster/config/samples/clusterset_init/multicluster_leader_access_token_template.yaml
  multicluster/config/samples/clusterset_init/multicluster_membercluster_template.yaml
  multicluster/config/samples/multicluster_v1alpha1_clusterclaim.yaml
  multicluster/test/integration/suite_test.go
  multicluster/test/yamls/clusterset.yml
  multicluster/test/yamls/east-member-cluster.yml
  multicluster/test/yamls/west-member-cluster.yml
Labels: area/multi-cluster

#3809 Optimize the flows for forwarding the packets with unknown destination in L3ForwardingTable
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/service.go
  test/integration/agent/openflow_test.go
Labels: action/backport, action/release-note

#3871 Automated cherry pick of #3846: Switch the storage of CAPV cluster to vSan
  ci/cluster-api/vsphere/templates/cluster.yaml
Labels: kind/cherry-pick

#3870 Automated cherry pick of #3846: Switch the storage of CAPV cluster to vSan
  ci/cluster-api/vsphere/templates/cluster.yaml
Labels: kind/cherry-pick

#3660 [Multicast] add Multicast networkpolicy support
  build/charts/antrea/templates/crds/clusternetworkpolicy.yaml
  build/charts/antrea/templates/crds/networkpolicy.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-agent/agent.go
  pkg/agent/controller/networkpolicy/cache.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/agent/controller/networkpolicy/packetin.go
  pkg/agent/controller/networkpolicy/reconciler.go
  pkg/agent/controller/networkpolicy/reconciler_test.go
  pkg/agent/controller/traceflow/packetin.go
  pkg/agent/multicast/mcast_controller.go
  pkg/agent/multicast/mcast_controller_test.go
  pkg/agent/multicast/mcast_discovery.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/fields.go
  pkg/agent/openflow/framework.go
  pkg/agent/openflow/multicast.go
  pkg/agent/openflow/network_policy.go
  pkg/agent/openflow/network_policy_test.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/pipeline_test.go
  pkg/agent/route/route_linux.go
  pkg/agent/types/multicast.go
  pkg/agent/types/networkpolicy.go
  pkg/apis/controlplane/types.go
  pkg/apis/controlplane/v1beta2/generated.pb.go
  pkg/apis/controlplane/v1beta2/generated.proto
  pkg/apis/controlplane/v1beta2/types.go
  pkg/apis/controlplane/v1beta2/zz_generated.conversion.go
  pkg/apis/controlplane/v1beta2/zz_generated.deepcopy.go
  pkg/apis/controlplane/zz_generated.deepcopy.go
  pkg/apis/crd/v1alpha1/types.go
  pkg/apis/crd/v1alpha1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/controller/networkpolicy/clusternetworkpolicy_test.go
  pkg/controller/networkpolicy/crd_utils.go
  pkg/controller/networkpolicy/crd_utils_test.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/controller/networkpolicy/validate.go
  pkg/util/ip/ip.go
Labels: kind/feature, action/release-note

#3603 Multicluster dataplane change for Service access
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/templates/agent/clusterrole.yaml
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  ci/jenkins/test-mc.sh
  cmd/antrea-agent-simulator/simulator.go
  cmd/antrea-agent/agent.go
  cmd/antrea-agent/options.go
  cmd/antrea-controller/controller.go
  multicluster/controllers/multicluster/common/helper.go
  multicluster/controllers/multicluster/commonarea/resourceimport_controller.go
  multicluster/controllers/multicluster/commonarea/resourceimport_controller_test.go
  multicluster/controllers/multicluster/gateway_controller.go
  multicluster/controllers/multicluster/gateway_controller_test.go
  multicluster/controllers/multicluster/serviceexport_controller.go
  multicluster/controllers/multicluster/serviceexport_controller_test.go
  multicluster/hack/mc-integration-test.sh
  multicluster/test/e2e/antreapolicy_test.go
  multicluster/test/e2e/fixtures.go
  multicluster/test/e2e/framework.go
  multicluster/test/e2e/main_test.go
  multicluster/test/e2e/service_test.go
  multicluster/test/integration/README.md
  multicluster/test/integration/resourceexport_controller_test.go
  multicluster/test/integration/serviceexport_controller_test.go
  multicluster/test/integration/test_data.go
  pkg/agent/multicluster/mc_route_controller.go
  pkg/agent/multicluster/mc_route_controller_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/cookie/allocator.go
  pkg/agent/openflow/framework.go
  pkg/agent/openflow/multicluster.go
  pkg/agent/openflow/network_policy_test.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/pipeline_test.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/apiserver/handlers/featuregates/handler.go
  pkg/apiserver/handlers/featuregates/handler_test.go
  pkg/config/agent/config.go
  pkg/features/antrea_features.go
  pkg/ovs/openflow/ofctrl_action.go
  pkg/ovs/openflow/ofctrl_group.go
  pkg/util/k8s/client.go
  test/integration/agent/openflow_test.go
Labels: area/multi-cluster

#3512 Improve documentation for Antrea-native policy
  docs/antrea-network-policy.md
Labels: kind/documentation

#3869 Fix FQDN policy support for IPv6
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-agent/agent.go
  cmd/antrea-agent/options.go
  pkg/agent/controller/networkpolicy/fqdn.go
  pkg/config/agent/config.go
  pkg/util/ip/ip.go
  pkg/util/ip/ip_test.go
  test/e2e/antreapolicy_test.go
Labels: area/network-policy, action/backport, action/release-note

#3888 Change the default Namespace in leader manifest
  ci/jenkins/test-mc.sh
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
  hack/release/prepare-assets.sh
  multicluster/Makefile
  multicluster/build/yamls/antrea-multicluster-leader-global.yml
  multicluster/build/yamls/antrea-multicluster-leader-namespaced.yml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceexports.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceimports.yaml
  multicluster/config/overlays/leader-ns/kustomization.yaml
  multicluster/config/overlays/leader-ns/member_cluster_role.yaml
  multicluster/config/overlays/leader-ns/member_cluster_rolebinding.yaml
  multicluster/config/overlays/leader-ns/member_cluster_serviceaccount.yaml
  multicluster/config/overlays/leader-ns/prefix_transformer.yaml
  multicluster/config/overlays/leader-ns/webhook_rbac.yaml
  multicluster/hack/generate-manifest.sh
  multicluster/test/yamls/clusterset.yml
  multicluster/test/yamls/east-member-cluster.yml
  multicluster/test/yamls/leader-access-token-secret.yml
  multicluster/test/yamls/test-acnp-copy-span-ns-isolation.yml
  multicluster/test/yamls/west-member-cluster.yml
  pkg/antctl/raw/multicluster/deploy/deploy_helper.go
Labels: area/multi-cluster

#3885 Fix pool CRD format in egress.md and service-loadbalancer.md
  docs/egress.md
  docs/service-loadbalancer.md
Labels: kind/documentation, area/transit/egress

#3449 Multicast statistics implementation
  build/charts/antrea/conf/antrea-controller.conf
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-agent/agent.go
  hack/update-codegen-dockerized.sh
  pkg/agent/apiserver/apiserver.go
  pkg/agent/apiserver/handlers/multicast/handler.go
  pkg/agent/apiserver/handlers/multicast/handler_test.go
  pkg/agent/apiserver/handlers/networkpolicy/handler.go
  pkg/agent/apiserver/handlers/podinterface/handler.go
  pkg/agent/multicast/mcast_controller.go
  pkg/agent/multicast/mcast_controller_test.go
  pkg/agent/multicast/mcast_discovery.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/framework.go
  pkg/agent/openflow/multicast.go
  pkg/agent/openflow/network_policy.go
  pkg/agent/openflow/network_policy_test.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/agent/stats/collector.go
  pkg/agent/stats/collector_test.go
  pkg/agent/types/testing/mock_types.go
  pkg/antctl/antctl.go
  pkg/apiserver/apiserver.go
  pkg/apiserver/registry/stats/multicastgroup/rest.go
  pkg/controller/stats/aggregator.go
  pkg/querier/querier.go
  pkg/querier/testing/mock_querier.go
Labels: kind/feature, action/release-note

#3800 Add docs for TrafficControl feature
  docs/cookbooks/ids/README.md
  docs/cookbooks/ids/resources/suricata.yml
  docs/feature-gates.md
  docs/traffic-control.md
Labels: kind/documentation, action/release-note

#3893 Fix mc e2e CI
  ci/jenkins/test-mc.sh
Labels: area/multi-cluster

#3638 Update Multi-cluster architecture doc
  docs/multicluster/architecture.md
  docs/multicluster/assets/basic-topology.png
  docs/multicluster/assets/basic-topology.svg
  docs/multicluster/assets/mc-gateway.svg
  docs/multicluster/assets/resource-export-import-pipeline.png
  docs/multicluster/assets/resource-export-import-pipeline.svg
Labels: area/multi-cluster

#3902 Automated cherry pick of #3803: Add multicast statistics e2e tests
  test/e2e/multicast_test.go
  test/e2e/networkpolicy_test.go
Labels: kind/cherry-pick

#3899 Revise Multi-cluster Gateway descriptions in user docs
  docs/multicluster/architecture.md
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
Labels: kind/documentation, area/multi-cluster

#3908 Automated cherry pick of #3638: Update Multi-cluster architecture doc #3899: Revise Multi-cluster Gateway descriptions in user docs
  docs/multicluster/architecture.md
  docs/multicluster/assets/basic-topology.png
  docs/multicluster/assets/basic-topology.svg
  docs/multicluster/assets/mc-gateway.svg
  docs/multicluster/assets/resource-export-import-pipeline.png
  docs/multicluster/assets/resource-export-import-pipeline.svg
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
Labels: kind/cherry-pick

#3897 Add IP version and prefix length validation in IPPool CRD manifest
  build/charts/antrea/templates/crds/ippool.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
Labels: area/ipam

#3907 Update the license format
  multicluster/hack/boilerplate.go.txt
  multicluster/hack/update-codegen-dockerized.sh
  multicluster/hack/update-codegen.sh
  multicluster/pkg/client/clientset/versioned/clientset.go
  multicluster/pkg/client/clientset/versioned/doc.go
  multicluster/pkg/client/clientset/versioned/fake/clientset_generated.go
  multicluster/pkg/client/clientset/versioned/fake/doc.go
  multicluster/pkg/client/clientset/versioned/fake/register.go
  multicluster/pkg/client/clientset/versioned/scheme/doc.go
  multicluster/pkg/client/clientset/versioned/scheme/register.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/clusterclaim.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/clusterinfoimport.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/clusterset.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/doc.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/doc.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_clusterclaim.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_clusterinfoimport.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_clusterset.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_gateway.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_memberclusterannounce.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_multicluster_client.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_resourceexport.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/fake/fake_resourceimport.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/gateway.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/generated_expansion.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/memberclusterannounce.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/multicluster_client.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/resourceexport.go
  multicluster/pkg/client/clientset/versioned/typed/multicluster/v1alpha1/resourceimport.go
  multicluster/pkg/client/informers/externalversions/factory.go
  multicluster/pkg/client/informers/externalversions/generic.go
  multicluster/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  multicluster/pkg/client/informers/externalversions/multicluster/interface.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/clusterclaim.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/clusterinfoimport.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/clusterset.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/gateway.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/interface.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/memberclusterannounce.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/resourceexport.go
  multicluster/pkg/client/informers/externalversions/multicluster/v1alpha1/resourceimport.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/clusterclaim.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/clusterinfoimport.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/clusterset.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/expansion_generated.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/gateway.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/memberclusterannounce.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/resourceexport.go
  multicluster/pkg/client/listers/multicluster/v1alpha1/resourceimport.go
Labels: area/multi-cluster

#3909 Add more MC Service info and ToC to Multi-cluster user guide
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
Labels: kind/documentation, area/multi-cluster

#3880 Reduce e2e execution time
  test/e2e/antreapolicy_test.go
  test/e2e/multicast_test.go
  test/e2e/traceflow_test.go
Labels: area/test/e2e

#3477 Automated cherry pick of #3467: Fix duplicate IP case for NetworkPolicy
  pkg/agent/controller/networkpolicy/cache_test.go
  pkg/agent/controller/networkpolicy/reconciler.go
  pkg/agent/controller/networkpolicy/reconciler_test.go
Labels: kind/cherry-pick

#3478 Automated cherry pick of #3467: Fix duplicate IP case for NetworkPolicy
  pkg/agent/controller/networkpolicy/cache_test.go
  pkg/agent/controller/networkpolicy/reconciler.go
  pkg/agent/controller/networkpolicy/reconciler_test.go
Labels: kind/cherry-pick

#3917 Automated cherry pick of #3909: Add more MC Service info and ToC to Multi-cluster user guide
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
Labels: kind/cherry-pick

#3915 Fix nil pointer issue when clusterset is deleted in leader
  multicluster/controllers/multicluster/leader_clusterset_controller.go
  multicluster/controllers/multicluster/member_clusterset_controller.go
  multicluster/controllers/multicluster/memberclusterannounce_controller.go
  multicluster/controllers/multicluster/memberclusterannounce_controller_test.go
  multicluster/controllers/multicluster/mock_membercluster_status_manager.go
Labels: area/multi-cluster

#3910 Add information about Theia to README
  README.md
Labels: kind/documentation

#3930 Update Precedence config and resources output
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
  multicluster/apis/multicluster/v1alpha1/multiclusterconfig_types.go
  multicluster/controllers/multicluster/leader_clusterset_controller.go
  multicluster/controllers/multicluster/leader_clusterset_controller_test.go
  multicluster/controllers/multicluster/member_clusterset_controller.go
  multicluster/controllers/multicluster/node_controller.go
Labels: area/multi-cluster

#3919 License format and package version updates
  build/images/codegen/Dockerfile
  build/images/codegen/README.md
  go.mod
  go.sum
  hack/update-codegen.sh
  multicluster/Makefile
  multicluster/apis/multicluster/v1alpha1/zz_generated.deepcopy.go
  multicluster/build/yamls/antrea-multicluster-leader-global.yml
  multicluster/build/yamls/antrea-multicluster-member.yml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_clusterclaims.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_clusterinfoimports.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_clustersets.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_gateways.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_memberclusterannounces.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceexports.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceimports.yaml
  multicluster/config/rbac/role.yaml
  multicluster/config/webhook/manifests.yaml
  multicluster/hack/update-codegen-dockerized.sh
  multicluster/hack/update-codegen.sh
  plugins/octant/go.sum
Labels: area/multi-cluster

#3939 Refactor Pod creation for e2e tests
  multicluster/test/e2e/framework.go
  test/e2e/antreaipam_test.go
  test/e2e/bandwidth_test.go
  test/e2e/egress_test.go
  test/e2e/fixtures.go
  test/e2e/flowaggregator_test.go
  test/e2e/framework.go
  test/e2e/nodeportlocal_test.go
  test/e2e/proxy_test.go
  test/e2e/service_externalip_test.go
  test/e2e/service_test.go
  test/e2e/traceflow_test.go
  test/e2e/trafficcontrol_test.go
  test/e2e/wireguard_test.go
Labels: area/test/e2e

#3932 Clean up Multi-cluster dead codes
  go.mod
  multicluster/apis/multicluster/v1alpha1/clusterclaim_types.go
  multicluster/apis/multicluster/v1alpha1/clusterclaim_webhook.go
  multicluster/apis/multicluster/v1alpha1/clusterset_webhook.go
  multicluster/apis/multicluster/v1alpha1/resourceexport_webhook.go
  multicluster/apis/multicluster/v1alpha1/resourceimport_webhook.go
  multicluster/apis/multicluster/v1alpha1/webhook_suite_test.go
  multicluster/build/yamls/antrea-multicluster-leader-namespaced.yml
  multicluster/cmd/multicluster-controller/controller.go
  multicluster/cmd/multicluster-controller/leader.go
  multicluster/config/default/kustomization.yaml
  multicluster/config/default/manager_auth_proxy_patch.yaml
  multicluster/config/prometheus/kustomization.yaml
  multicluster/config/prometheus/monitor.yaml
  multicluster/config/webhook/manifests.yaml
  multicluster/controllers/multicluster/clusterclaim_controller.go
  multicluster/controllers/multicluster/common/helper.go
  multicluster/controllers/multicluster/commonarea/resourceimport_controller.go
  multicluster/controllers/multicluster/commonarea/resourceimport_controller_test.go
  multicluster/controllers/multicluster/controller_utils.go
  multicluster/controllers/multicluster/leader_clusterset_controller.go
  multicluster/controllers/multicluster/member_clusterset_controller.go
  multicluster/controllers/multicluster/serviceexport_controller.go
  multicluster/controllers/multicluster/serviceexport_controller_test.go
  multicluster/test/integration/suite_test.go
Labels: area/multi-cluster
