Repository antrea-io/antrea, pull requests merged in 2022-11, with the labels that each got.

#4363 Extend "antctl mc get joinconfig" to print member token Secret
  docs/multicluster/antctl.md
  pkg/antctl/raw/multicluster/common/common.go
  pkg/antctl/raw/multicluster/common/common_test.go
  pkg/antctl/raw/multicluster/create/member_token.go
  pkg/antctl/raw/multicluster/create/member_token_test.go
  pkg/antctl/raw/multicluster/get/join_config.go
  pkg/antctl/raw/multicluster/get/join_config_test.go
  pkg/antctl/raw/multicluster/get/member_token.go
  pkg/antctl/raw/multicluster/get/member_token_test.go
  pkg/antctl/raw/multicluster/init.go
  pkg/antctl/raw/multicluster/init_test.go
  pkg/antctl/raw/multicluster/join.go
  pkg/antctl/raw/multicluster/join_test.go
Labels: area/multi-cluster

#3913 Stretched policy Controller changes
  build/charts/antrea/conf/antrea-controller.conf
  build/charts/antrea/crds/clusternetworkpolicy.yaml
  build/charts/antrea/crds/externalnode.yaml
  build/charts/antrea/crds/networkpolicy.yaml
  build/charts/antrea/templates/controller/clusterrole.yaml
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-controller/controller.go
  multicluster/build/yamls/antrea-multicluster-leader-global.yml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceexports.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceimports.yaml
  pkg/apis/controlplane/types.go
  pkg/apis/controlplane/v1beta2/generated.pb.go
  pkg/apis/controlplane/v1beta2/generated.proto
  pkg/apis/controlplane/v1beta2/types.go
  pkg/apis/controlplane/v1beta2/zz_generated.conversion.go
  pkg/apis/controlplane/v1beta2/zz_generated.deepcopy.go
  pkg/apis/controlplane/zz_generated.deepcopy.go
  pkg/apis/crd/v1alpha1/types.go
  pkg/apiserver/handlers/featuregates/handler.go
  pkg/apiserver/handlers/featuregates/handler_test.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/config/controller/config.go
  pkg/controller/labelidentity/controller.go
  pkg/controller/labelidentity/controller_test.go
  pkg/controller/labelidentity/label_group_index.go
  pkg/controller/labelidentity/label_group_index_test.go
  pkg/controller/networkpolicy/crd_utils.go
  pkg/controller/networkpolicy/crd_utils_test.go
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
Labels: area/multi-cluster

#4388 Update openflow rules when Gateway updates
  pkg/agent/multicluster/mc_route_controller.go
  pkg/agent/multicluster/mc_route_controller_test.go
Labels: area/multi-cluster, action/backport

#4402 Update OVS to 2.17.3
  build/images/deps/ovs-version
  build/images/ovs/apply-patches.sh
  docs/troubleshooting.md
Labels: dependencies

#4381 Add unit test for multicluster/cmd
  multicluster/cmd/multicluster-controller/controller.go
  multicluster/cmd/multicluster-controller/controller_test.go
  multicluster/cmd/multicluster-controller/leader.go
  multicluster/cmd/multicluster-controller/leader_test.go
  multicluster/cmd/multicluster-controller/member.go
  multicluster/cmd/multicluster-controller/member_test.go
Labels: area/multi-cluster

#4352 Remove deadcode
  .golangci.yml
  ci/README.md
  hack/netpol/.golangci.yml
  pkg/agent/agent_windows.go
  pkg/agent/cniserver/server.go
  pkg/agent/flowexporter/connections/connections.go
  pkg/agent/multicast/mcast_route.go
  pkg/agent/multicast/mcast_route_others.go
  pkg/agent/nodeportlocal/testing/annotations.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/proxy/endpoints.go
  pkg/agent/proxy/proxier.go
  pkg/agent/util/winfirewall/winfirewall.go
  pkg/apiserver/registry/system/supportbundle/rest.go
  pkg/controller/networkpolicy/status_controller.go
  pkg/flowaggregator/exporter/ipfix.go
  pkg/flowaggregator/flowaggregator.go
  pkg/ovs/openflow/ofctrl_nxfields.go
  pkg/support/dump.go
  test/e2e/framework.go
  test/e2e/nodeportlocal_test.go
  test/e2e/wireguard_test.go
Labels: kind/cleanup

#4403 Automated cherry pick of #4388: Update openflow rules when Gateway updates
  pkg/agent/multicluster/mc_route_controller.go
  pkg/agent/multicluster/mc_route_controller_test.go
Labels: kind/cherry-pick

#4411 Automated cherry pick of #4388: Update openflow rules when Gateway updates
  pkg/agent/multicluster/mc_route_controller.go
  pkg/agent/multicluster/mc_route_controller_test.go
Labels: kind/cherry-pick
