Repository antrea-io/antrea, pull requests merged in 2022-09, with the labels that each got.

#4120 Implement service health check in Antrea-agent
  go.mod
  go.sum
  pkg/agent/proxy/endpoints.go
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  test/e2e/proxy_test.go
  third_party/proxy/healthcheck/README
  third_party/proxy/healthcheck/common.go
  third_party/proxy/healthcheck/service_health.go
Labels: area/proxy, action/release-note

#4187 Add checksum of config file as an annotation
  multicluster/Makefile
  multicluster/build/yamls/antrea-multicluster-leader-namespaced.yml
  multicluster/build/yamls/antrea-multicluster-member.yml
  multicluster/config/default/kustomization.yaml
  multicluster/config/manager/manager.yaml
  multicluster/hack/update-checksum.sh
Labels: area/multi-cluster

#4069 Refine Node controller to support Gateway HA
  multicluster/build/yamls/antrea-multicluster-leader-namespaced.yml
  multicluster/build/yamls/antrea-multicluster-member.yml
  multicluster/cmd/multicluster-controller/gateway_webhook.go
  multicluster/cmd/multicluster-controller/gateway_webhook_test.go
  multicluster/cmd/multicluster-controller/member.go
  multicluster/config/overlays/leader-ns/kustomization.yaml
  multicluster/config/overlays/leader-ns/webhook_patch.yaml
  multicluster/config/webhook/manifests.yaml
  multicluster/controllers/multicluster/gateway_controller.go
  multicluster/controllers/multicluster/gateway_controller_test.go
  multicluster/controllers/multicluster/node_controller.go
  multicluster/controllers/multicluster/node_controller_test.go
Labels: area/multi-cluster

#4174 Fix ClusterSet output when status is empty
  pkg/antctl/raw/multicluster/get/clusterset.go
  pkg/antctl/raw/multicluster/get/clusterset_test.go
  pkg/antctl/raw/multicluster/get/output.go
  pkg/antctl/raw/multicluster/get/output_test.go
  pkg/antctl/raw/multicluster/get/resourceexport.go
  pkg/antctl/raw/multicluster/get/resourceimport.go
  pkg/antctl/transform/clusterset/transform.go
Labels: area/multi-cluster

#4176 Bugfix: Remove multicast group from cache when group is uninstalled
  hack/update-codegen-dockerized.sh
  pkg/agent/multicast/mcast_controller.go
  pkg/agent/multicast/mcast_controller_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  pkg/ovs/openflow/testing/mock_openflow.go
  test/integration/agent/openflow_test.go
Labels: action/backport, action/release-note

#4202 Automated cherry pick of #4176: Bugfix: Remove multicast group from cache when group is
  hack/update-codegen-dockerized.sh
  pkg/agent/multicast/mcast_controller.go
  pkg/agent/multicast/mcast_controller_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  pkg/ovs/openflow/testing/mock_openflow.go
  test/integration/agent/openflow_test.go
Labels: kind/cherry-pick

#4188 Update the proxy mode of kube-proxy to vmkernel on windows
  ci/jenkins/test.sh
  docs/windows.md
  hack/windows/Helper.psm1
Labels: action/release-note

#4203 Automated cherry pick of #4176: Bugfix: Remove multicast group from cache when group is
  hack/update-codegen-dockerized.sh
  pkg/agent/multicast/mcast_controller.go
  pkg/agent/multicast/mcast_controller_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  pkg/ovs/openflow/testing/mock_openflow.go
  test/integration/agent/openflow_test.go
Labels: kind/cherry-pick

#4194 Update Dependabot configuration
  .github/dependabot.yml
Labels: area/build-release

#4210 Remove debug log
  multicluster/controllers/multicluster/leader_clusterset_controller.go
Labels: area/multi-cluster

#4216 Automated cherry pick of #4210: Remove debug log in leader ClusterSet controller
  multicluster/controllers/multicluster/leader_clusterset_controller.go
Labels: kind/cherry-pick

#4183 Improve antctl mc subcommand's unit test
  docs/multicluster/quick-start.md
  pkg/antctl/raw/helper.go
  pkg/antctl/raw/multicluster/common/cleanup.go
  pkg/antctl/raw/multicluster/common/cleanup_test.go
  pkg/antctl/raw/multicluster/common/common.go
  pkg/antctl/raw/multicluster/common/common_test.go
  pkg/antctl/raw/multicluster/common/mock_client.go
  pkg/antctl/raw/multicluster/create/access_token.go
  pkg/antctl/raw/multicluster/create/access_token_test.go
  pkg/antctl/raw/multicluster/deploy/deploy_helper.go
  pkg/antctl/raw/multicluster/deploy/deploy_helper_test.go
  pkg/antctl/raw/multicluster/deploy/leader_cluster.go
  pkg/antctl/raw/multicluster/deploy/member_cluster.go
  pkg/antctl/raw/multicluster/destory_test.go
  pkg/antctl/raw/multicluster/get/clusterset_test.go
  pkg/antctl/raw/multicluster/get/resourceexport.go
  pkg/antctl/raw/multicluster/get/resourceexport_test.go
  pkg/antctl/raw/multicluster/get/resourceimport.go
  pkg/antctl/raw/multicluster/get/resourceimport_test.go
  pkg/antctl/raw/multicluster/init.go
  pkg/antctl/raw/multicluster/init_test.go
  pkg/antctl/raw/multicluster/join.go
  pkg/antctl/raw/multicluster/join_test.go
  pkg/antctl/raw/multicluster/leave.go
  pkg/antctl/raw/multicluster/leave_test.go
  pkg/antctl/transform/resourceexport/transform.go
Labels: area/multi-cluster

#4198 Allow Pod IP as MC Service Endpoints
  multicluster/apis/multicluster/v1alpha1/multiclusterconfig_types.go
  multicluster/build/yamls/antrea-multicluster-leader-namespaced.yml
  multicluster/build/yamls/antrea-multicluster-member.yml
  multicluster/cmd/multicluster-controller/member.go
  multicluster/cmd/multicluster-controller/options.go
  multicluster/config/default/configmap/controller_manager_config.yaml
  multicluster/controllers/multicluster/common/helper.go
  multicluster/controllers/multicluster/serviceexport_controller.go
  multicluster/controllers/multicluster/serviceexport_controller_test.go
  multicluster/test/integration/suite_test.go
Labels: area/multi-cluster

#4232 Fix multi-cluster e2e yaml issue
  ci/jenkins/test-mc.sh
  multicluster/test/yamls/test-acnp-copy-span-ns-isolation.yml
Labels: area/multi-cluster

#4217 Add e2e test for Multi-cluster Service Endpoints changes
  multicluster/test/e2e/main_test.go
  multicluster/test/e2e/service_test.go
Labels: area/multi-cluster, action/backport

#4241 Fix flaky TestController_RotateCertificates unit test
  pkg/agent/controller/ipseccertificate/ipsec_certificate_controller_test.go
Labels: area/test, kind/failing-test

#4242 Automated cherry pick of #4217: Remove an event filter and add e2e test
  multicluster/controllers/multicluster/serviceexport_controller.go
  multicluster/test/e2e/main_test.go
  multicluster/test/e2e/service_test.go
Labels: kind/cherry-pick, area/multi-cluster

#4235 Use the docker.io registry for "latest" antrea images
  .github/workflows/build.yml
  .github/workflows/kind.yml
  Makefile
  build/charts/antrea/README.md
  build/charts/antrea/templates/simulator/statefulset.yaml
  build/charts/antrea/values.yaml
  build/charts/flow-aggregator/README.md
  build/charts/flow-aggregator/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea-octant.yml
  build/yamls/antrea-windows.yml
  build/yamls/antrea.yml
  build/yamls/flow-aggregator.yml
  ci/jenkins/test-mc.sh
  ci/jenkins/test-vmc.sh
  ci/jenkins/test.sh
  ci/kind/kind-setup.sh
  ci/kind/test-e2e-kind.sh
  ci/kind/test-upgrade-antrea.sh
  ci/test-conformance-aks.sh
  ci/test-conformance-eks.sh
  ci/test-conformance-gke.sh
  docs/kind.md
  docs/minikube.md
  hack/generate-helm-release.sh
  hack/generate-manifest-octant.sh
  hack/generate-manifest-windows.sh
  hack/netpol-generator/test-kind.sh
  hack/netpol/test-kind.sh
  multicluster/build/yamls/antrea-multicluster-leader-namespaced.yml
  multicluster/build/yamls/antrea-multicluster-member.yml
  multicluster/config/overlays/leader-ns/coverage/manager_command_patch_coverage.yaml
  multicluster/config/overlays/member/coverage/manager_command_patch_coverage.yaml
  multicluster/hack/generate-manifest.sh
  test/e2e/README.md
  test/e2e/infra/vagrant/push_antrea.sh
Labels: area/build-release

#4167 Remove the limit on the number of Endpoints in AntreaProxy
  go.mod
  go.sum
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/multicast.go
  pkg/agent/openflow/service.go
  pkg/agent/proxy/proxier.go
  pkg/ovs/openflow/interfaces.go
  pkg/ovs/openflow/ofctrl_bridge.go
  pkg/ovs/openflow/ofctrl_flow.go
  pkg/ovs/openflow/ofctrl_group.go
  pkg/ovs/openflow/ofctrl_meter.go
  pkg/ovs/openflow/testing/mock_openflow.go
  test/integration/ovs/ofctrl_test.go
Labels: area/proxy, action/release-note
