Repository antrea-io/antrea, pull requests merged in 2023-02, with the labels that each got.

#4584 Automated cherry pick of #4494: Import auth to support different platforms
  pkg/antctl/runtime/runtime.go
Labels: kind/cherry-pick

#4480 Fix possible Antrea Agent crash in dualstack mode
  pkg/agent/agent.go
  pkg/agent/config/node_config.go
  pkg/agent/config/node_config_test.go
Labels: area/component/agent, action/backport

#4593 Support limiting number of Egress IPs that can be assigned to a Node
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-agent/agent.go
  cmd/antrea-agent/options.go
  pkg/agent/controller/egress/egress_controller.go
  pkg/agent/controller/egress/egress_controller_test.go
  pkg/agent/controller/serviceexternalip/controller_test.go
  pkg/agent/ipassigner/ip_assigner_linux.go
  pkg/agent/ipassigner/ip_assigner_windows.go
  pkg/agent/memberlist/cluster.go
  pkg/config/agent/config.go
Labels: action/release-note

#4419 Set NO_FLOOD to IPsec tunnel ports
  cmd/antrea-agent/agent.go
  pkg/agent/controller/noderoute/node_route_controller.go
  pkg/agent/controller/noderoute/node_route_controller_test.go
Labels: action/backport, action/release-note

#4617 No longer install Whereabouts CNI to host
  build/images/scripts/install_cni
Labels: area/component/cni

#4618 Wait for Pod update in MCNP UT
  pkg/agent/multicluster/stretched_networkpolicy_controller_test.go
Labels: area/multi-cluster

#4624 Change multicluster "make build" to "make bin"
  .github/workflows/go.yml
  multicluster/Makefile
  multicluster/build/images/Dockerfile.build
Labels: area/multi-cluster

#4605 Add a toggle for Multi-cluster Pod-to-Pod connectivity
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-agent/agent.go
  docs/multicluster/user-guide.md
  pkg/agent/multicluster/mc_route_controller.go
  pkg/agent/multicluster/mc_route_controller_test.go
  pkg/config/agent/config.go
Labels: area/multi-cluster

#4637 Update the release documentation for maintainers
  docs/maintainers/release.md
Labels: kind/documentation

#4642 Automated cherry pick of #4542: Fix that TrafficControlTable is always created by default
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/framework.go
  pkg/agent/openflow/framework_test.go
  pkg/agent/openflow/pod_connectivity_test.go
  pkg/agent/openflow/service_test.go
  pkg/ovs/openflow/testing/utils.go
Labels: kind/cherry-pick

#4611 Add CLI command to get memberlist state
  cmd/antrea-agent/agent.go
  docs/antctl.md
  docs/support-bundle-guide.md
  hack/update-codegen-dockerized.sh
  pkg/agent/apiserver/apiserver.go
  pkg/agent/apiserver/handlers/memberlist/handler.go
  pkg/agent/apiserver/handlers/memberlist/handler_test.go
  pkg/agent/memberlist/cluster_test.go
  pkg/agent/memberlist/mock_memberlist_test.go
  pkg/agent/memberlist/testing/mock_memberlist.go
  pkg/agent/querier/querier.go
  pkg/agent/querier/testing/mock_querier.go
  pkg/agent/supportbundlecollection/support_bundle_controller_test.go
  pkg/antctl/antctl.go
  pkg/antctl/command_definition_test.go
  pkg/antctl/command_list_test.go
  pkg/apiserver/registry/system/supportbundle/rest.go
  pkg/apiserver/registry/system/supportbundle/rest_test.go
  pkg/monitor/agent_test.go
  pkg/support/dump.go
Labels: area/component/antctl, action/release-note

#4425 Bump up cni and plugins libraries to v1.1.1
  go.mod
  go.sum
  pkg/agent/cniserver/interface_configuration_linux.go
  pkg/agent/cniserver/interface_configuration_linux_test.go
  pkg/agent/cniserver/interface_configuration_windows.go
  pkg/agent/cniserver/interfaces.go
  pkg/agent/cniserver/ipam/antrea_ipam.go
  pkg/agent/cniserver/ipam/antrea_ipam_test.go
  pkg/agent/cniserver/ipam/ipam_delegator.go
  pkg/agent/cniserver/ipam/ipam_delegator_test.go
  pkg/agent/cniserver/ipam/ipam_service.go
  pkg/agent/cniserver/ipam/ipam_service_test.go
  pkg/agent/cniserver/ipam/testing/utils.go
  pkg/agent/cniserver/pod_configuration.go
  pkg/agent/cniserver/pod_configuration_linux.go
  pkg/agent/cniserver/pod_configuration_linux_test.go
  pkg/agent/cniserver/pod_configuration_windows.go
  pkg/agent/cniserver/server.go
  pkg/agent/cniserver/server_linux.go
  pkg/agent/cniserver/server_linux_test.go
  pkg/agent/cniserver/server_test.go
  pkg/agent/cniserver/server_windows.go
  pkg/agent/cniserver/server_windows_test.go
  pkg/agent/cniserver/sriov.go
  pkg/agent/secondarynetwork/ipam/ipam_delegator.go
  pkg/agent/secondarynetwork/ipam/testing/mock_ipam.go
  pkg/agent/secondarynetwork/podwatch/controller.go
  pkg/agent/secondarynetwork/podwatch/controller_test.go
  pkg/agent/secondarynetwork/podwatch/testing/mock_podwatch.go
  test/e2e/secondary_network_ipam_test.go
  test/integration/agent/cniserver_test.go
  third_party/containernetworking/ip/link_linux.go
Labels: action/release-note

#4622 MCS e2e tests for local Service's Endpoint access
  multicluster/test/e2e/service_test.go
Labels: area/multi-cluster
