Repository antrea-io/antrea, pull requests merged in 2023-03, with the labels that each got.

#4607 Support ProxyTerminatingEndpoints in AntreaProxy
  pkg/agent/openflow/client_test.go
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/topology.go
  pkg/agent/proxy/topology_test.go
  third_party/proxy/service.go
  third_party/proxy/types.go
  third_party/proxy/util/service.go
Labels: area/proxy, action/release-note

#4529 Fix tunnelDstIP field in traceflow on dual-stack
  pkg/agent/controller/traceflow/packetin.go
Labels: kind/bug, area/ops/traceflow, area/transit/ipv6

#4508 Refine Endpoint selection for multi-cluster Service
  cmd/antrea-agent/agent.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/agent/openflow/types/types.go
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  pkg/agent/proxy/topology.go
  pkg/agent/proxy/topology_test.go
  pkg/ovs/openflow/interfaces.go
  pkg/ovs/openflow/ofctrl_group.go
  pkg/ovs/openflow/ofctrl_group_test.go
  pkg/ovs/openflow/testing/mock_openflow.go
  test/integration/agent/openflow_test.go
Labels: area/multi-cluster

#4678 Remove config for Endpoints API when feature gate EndpointSlice is enabled
  pkg/agent/proxy/proxier.go
Labels: area/proxy, action/backport

#4517 Add unit test for pkg/ovs/ovsctl
  hack/update-codegen-dockerized.sh
  pkg/ovs/ovsctl/appctl.go
  pkg/ovs/ovsctl/appctl_test.go
  pkg/ovs/ovsctl/interface.go
  pkg/ovs/ovsctl/mock_ovsctl_test.go
  pkg/ovs/ovsctl/ofctl.go
  pkg/ovs/ovsctl/ovsctl.go
  pkg/ovs/ovsctl/ovsctl_test.go
Labels: area/test

#4663 Fix e2e TestAntctl on windows testbed
  pkg/agent/apiserver/handlers/memberlist/handler.go
  pkg/agent/apiserver/handlers/memberlist/handler_test.go
  pkg/support/dump.go
  pkg/support/dump_others.go
  pkg/support/dump_windows.go
Labels: area/test/e2e

#4685 Force create cni folders when starting Windows containerd agent
  build/yamls/antrea-windows-containerd.yml
  build/yamls/windows/containerd/conf/Install-WindowsCNI-Containerd.ps1
Labels: action/release-note

#4470 Fix that Service routes may get lost when starting on Windows
  pkg/agent/controller/noderoute/node_route_controller.go
  pkg/agent/route/interfaces.go
  pkg/agent/route/route_linux.go
  pkg/agent/route/route_linux_test.go
  pkg/agent/route/route_windows.go
  pkg/agent/route/route_windows_test.go
  pkg/agent/route/testing/mock_route.go
  pkg/agent/util/net.go
  test/integration/agent/route_test.go
Labels: area/OS/windows, action/backport, action/release-note

#4693 Refine Endpoint selection for Multi-cluster Service
  cmd/antrea-agent/agent.go
  multicluster/controllers/multicluster/common/helper.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/fields.go
  pkg/agent/openflow/multicluster.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/agent/openflow/types/types.go
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  pkg/agent/proxy/topology.go
  pkg/agent/proxy/topology_test.go
  pkg/agent/proxy/types/types.go
  pkg/ovs/openflow/interfaces.go
  pkg/ovs/openflow/ofctrl_group.go
  pkg/ovs/openflow/ofctrl_group_test.go
  pkg/ovs/openflow/testing/mock_openflow.go
  test/integration/agent/openflow_test.go
Labels: area/multi-cluster

#4571 Fix ClusterSet scoped policy rule not compatible with `namespaces` field
  ci/jenkins/test-mc.sh
  multicluster/apis/multicluster/v1alpha2/zz_generated.deepcopy.go
  multicluster/test/e2e/antreapolicy_test.go
  multicluster/test/e2e/framework.go
  multicluster/test/e2e/main_test.go
  multicluster/test/e2e/service_test.go
  multicluster/test/yamls/test-acnp-cross-cluster-ns-isolation.yml
  pkg/controller/labelidentity/label_group_index.go
  pkg/controller/labelidentity/label_group_index_test.go
  pkg/controller/networkpolicy/antreanetworkpolicy.go
  pkg/controller/networkpolicy/clusternetworkpolicy.go
  pkg/controller/networkpolicy/crd_utils.go
  pkg/controller/networkpolicy/crd_utils_test.go
  test/e2e/antreapolicy_test.go
  test/e2e/framework.go
  test/e2e/k8s_util.go
  test/e2e/reachability.go
Labels: area/multi-cluster, action/release-note

#4691 Keep the cached Endpoints the same as those installed in OVS
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  test/integration/agent/openflow_test.go
Labels: area/proxy

#4407 Support more traffic modes for Multi-cluster Gateway
  build/yamls/antrea-prometheus.yml
  cmd/antrea-agent/agent.go
  cmd/antrea-agent/options.go
  cmd/antrea-agent/options_linux_test.go
  multicluster/controllers/multicluster/leader/resourceexport_controller.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/cniserver/interface_configuration_linux.go
  pkg/agent/cniserver/interface_configuration_linux_test.go
  pkg/agent/cniserver/interface_configuration_windows.go
  pkg/agent/cniserver/interfaces.go
  pkg/agent/cniserver/pod_configuration_linux_test.go
  pkg/agent/cniserver/server.go
  pkg/agent/cniserver/server_linux_test.go
  pkg/agent/cniserver/server_test.go
  pkg/agent/config/node_config.go
  pkg/agent/config/node_config_test.go
  pkg/agent/multicluster/mc_route_controller.go
  pkg/agent/multicluster/mc_route_controller_test.go
  pkg/agent/multicluster/pod_route_controller.go
  pkg/agent/multicluster/pod_route_controller_test.go
  pkg/agent/multicluster/stretched_networkpolicy_controller_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/multicluster.go
  pkg/agent/openflow/testing/mock_openflow.go
  test/integration/agent/cniserver_test.go
Labels: area/multi-cluster

#4715 Avoid duplicate Node Results in Live Traceflow Status
  pkg/agent/controller/traceflow/packetin.go
  pkg/agent/controller/traceflow/packetin_test.go
  pkg/agent/openflow/packetin.go
Labels: kind/bug, area/ops/traceflow, action/release-note

#4312 Add unit tests for pkg/agent/util/net
  pkg/agent/util/net.go
  pkg/agent/util/net_linux.go
  pkg/agent/util/net_linux_test.go
  pkg/agent/util/net_test.go
  pkg/agent/util/net_windows.go
  pkg/agent/util/net_windows_test.go
  pkg/agent/util/netlink/netlink_linux.go
  pkg/agent/util/netlink/testing/mock_netlink_linux.go
  test/integration/agent/net_windows_test.go
Labels: area/test

#4711 Fix route deletion for Service ClusterIP and LoadBalancerIP
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  pkg/agent/route/interfaces.go
  pkg/agent/route/route_linux.go
  pkg/agent/route/route_linux_test.go
  pkg/agent/route/route_windows.go
  pkg/agent/route/testing/mock_route.go
Labels: action/backport, action/release-note

#4438 Doc for multi-cluster in more modes
  docs/eks-installation.md
  docs/multicluster/architecture.md
  docs/multicluster/policy-only-mode.md
  docs/multicluster/user-guide.md
  hack/.notableofcontents
  multicluster/test/e2e/README.md
Labels: area/multi-cluster

#4634 Graduate feature EndpointSlice from Alpha to Beta
  build/charts/antrea/conf/antrea-agent.conf
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea-windows.yml
  build/yamls/antrea.yml
  build/yamls/windows/base/conf/antrea-agent.conf
  docs/feature-gates.md
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  pkg/apiserver/handlers/featuregates/handler_test.go
  pkg/features/antrea_features.go
Labels: area/proxy, action/release-note

#4731 Fix flaky multi-cluster unit test
  pkg/agent/multicluster/pod_route_controller_test.go
Labels: kind/bug, area/multi-cluster

#4750 Automated cherry pick of #4678: Remove config for Endpoints API when feature gate
  pkg/agent/proxy/proxier.go
Labels: kind/cherry-pick

#4734 Automated cherry pick of #4676: Update default klog verbosity value for Windows containerd
  build/yamls/antrea-windows-containerd.yml
  build/yamls/windows/base/conf/Run-AntreaAgent-Containerd.ps1
Labels: kind/cherry-pick

#4751 Automated cherry pick of #4678: Remove config for Endpoints API when feature gate
  pkg/agent/proxy/proxier.go
Labels: kind/cherry-pick

#4753 Automated cherry pick of #4678: Remove config for Endpoints API when feature gate
  pkg/agent/proxy/proxier.go
Labels: kind/cherry-pick

#4706 Automated cherry pick of #4592: Fix missing call of removing groupDb cache when deleting OVS
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/ovs/openflow/ofctrl_bridge.go
  pkg/ovs/openflow/ofctrl_bridge_test.go
Labels: kind/cherry-pick

#4738 Use the same agnhost image defined in framework.go for Multi-cluster e2e
  ci/jenkins/test-mc.sh
  multicluster/test/e2e/framework.go
Labels: area/multi-cluster

#4754 Automated cherry pick of #4480: Fix that Antrea Agent may crash when dualstack
  pkg/agent/agent.go
  pkg/agent/config/node_config.go
  pkg/agent/config/node_config_test.go
Labels: kind/cherry-pick

#4756 Automated cherry pick of #4480: Fix that Antrea Agent may crash when dualstack
  pkg/agent/agent.go
  pkg/agent/config/node_config.go
  pkg/agent/config/node_config_test.go
Labels: kind/cherry-pick

#4757 Automated cherry pick of #4480: Fix that Antrea Agent may crash when dualstack
  pkg/agent/agent.go
  pkg/agent/config/node_config.go
  pkg/agent/config/node_config_test.go
Labels: kind/cherry-pick

#4712 Automated cherry pick of #4592: Fix missing call of removing groupDb cache when deleting OVS
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/ovs/openflow/ofctrl_bridge.go
  pkg/ovs/openflow/ofctrl_bridge_test.go
Labels: kind/cherry-pick

#4527 Automated cherry pick of #4491: Make memberlist cluster rejoin dead nodes periodically
  hack/update-codegen-dockerized.sh
  pkg/agent/memberlist/cluster.go
  pkg/agent/memberlist/cluster_test.go
  pkg/agent/memberlist/testing/mock_memberlist.go
Labels: kind/cherry-pick

#4526 Automated cherry pick of #4499: Update remaining images to use ubuntu:22.04 base image
  build/images/Dockerfile.octant.ubuntu
  build/images/Dockerfile.simulator.build.ubuntu
  build/images/codegen/Dockerfile
  build/images/codegen/README.md
  build/images/ethtool/Dockerfile
  build/images/ethtool/README.md
  build/images/flow-aggregator/Dockerfile
  build/images/flow-aggregator/Dockerfile.coverage
  build/images/perftool/Dockerfile
  build/images/perftool/README.md
  build/images/wireguard-go/Dockerfile
  build/images/wireguard-go/README.md
  docs/cookbooks/multus/build/cni-dhcp-daemon/Dockerfile
  docs/cookbooks/multus/resources/dhcp-daemon.yml
  hack/update-codegen.sh
  multicluster/build/images/Dockerfile.build.coverage
  test/e2e/infra/vagrant/Vagrantfile
  test/e2e/infra/vagrant/playbook/roles/common/templates/containerd.conf.j2
  test/e2e/infra/vagrant/playbook/roles/control-plane/templates/kubeadm.conf.j2
Labels: kind/cherry-pick

#4528 Automated cherry pick of #4491: Make memberlist cluster rejoin dead nodes periodically
  cmd/antrea-agent/agent.go
  hack/update-codegen-dockerized.sh
  pkg/agent/memberlist/cluster.go
  pkg/agent/memberlist/cluster_test.go
  pkg/agent/memberlist/testing/mock_memberlist.go
Labels: kind/cherry-pick

#4727 Automated cherry pick of #4028: Fix race conditions in NetworkPolicyController Cherry pick of #4028 on release-1.7
  pkg/controller/networkpolicy/antreanetworkpolicy.go
  pkg/controller/networkpolicy/antreanetworkpolicy_test.go
  pkg/controller/networkpolicy/clustergroup.go
  pkg/controller/networkpolicy/clustergroup_test.go
  pkg/controller/networkpolicy/clusternetworkpolicy.go
  pkg/controller/networkpolicy/clusternetworkpolicy_test.go
  pkg/controller/networkpolicy/crd_utils.go
  pkg/controller/networkpolicy/crd_utils_test.go
  pkg/controller/networkpolicy/endpoint_querier_test.go
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_perf_test.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/controller/networkpolicy/store/appliedtogroup.go
  pkg/controller/networkpolicy/store/networkpolicy.go
  pkg/controller/types/networkpolicy.go
Labels: kind/cherry-pick

#4777 Automated cherry pick of #4697: Fix windows image building error in jenkins pipeline
  ci/jenkins/test.sh
Labels: kind/cherry-pick

#4725 Fix Multi-cluster manifests checkcum calculation
  multicluster/hack/update-checksum.sh
Labels: area/multi-cluster

#4446 Automated cherry pick of #4126: Add OFSwitch connection check to Agent's liveness probes
  build/charts/antrea/templates/agent/daemonset.yaml
  build/images/scripts/container_liveness_probe
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-agent/agent.go
  cmd/antrea-agent/options.go
  cmd/antrea-agent/options_test.go
  pkg/agent/apiserver/apiserver.go
  pkg/agent/apiserver/apiserver_test.go
  pkg/ovs/openflow/ofctrl_bridge.go
  pkg/ovs/openflow/ofctrl_bridge_test.go
  pkg/ovs/openflow/ofctrl_packetout_test.go
Labels: lifecycle/stale, kind/cherry-pick

#4770 Add unit test for pkg/flowaggregator/exporter/ipfix.go
  pkg/flowaggregator/exporter/ipfix_test.go
Labels: area/test
