Repository antrea-io/antrea, pull requests merged in 2023-01, with the labels that each got.

#4530 Upload asset antrea-windows-containerd.yml
  .github/workflows/process_release.yml
Labels: action/backport

#4533 Rename Agent config option multicluster.enable to enableGateway
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/conf/antrea-controller.conf
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  ci/jenkins/test-mc.sh
  cmd/antrea-agent/agent.go
  cmd/antrea-agent/options.go
  cmd/antrea-agent/options_linux_test.go
  cmd/antrea-controller/controller.go
  cmd/antrea-controller/options.go
  docs/feature-gates.md
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
  multicluster/build/images/Dockerfile.build
  multicluster/build/images/Dockerfile.build.coverage
  pkg/config/agent/config.go
Labels: area/multi-cluster

#4534 Automated cherry pick of #4530: Upload asset antrea-windows-containerd.yml
  .github/workflows/process_release.yml
Labels: kind/cherry-pick

#4543 Update YAMLs and docs about Multi-cluster NetworkPolicy
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/conf/antrea-controller.conf
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  docs/feature-gates.md
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
  pkg/config/agent/config.go
  pkg/config/controller/config.go
Labels: kind/documentation, area/multi-cluster

#4551 Use longer timeout in MCNP UT
  pkg/agent/multicluster/stretched_networkpolicy_controller_test.go
Labels: area/multi-cluster

#4548 Stop using ClusterFirstWithHostNet DNSPolicy for antrea-agent
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/templates/agent/daemonset.yaml
  build/charts/antrea/values.yaml
  build/charts/flow-aggregator/README.md
  build/charts/flow-aggregator/conf/flow-aggregator.conf
  build/charts/flow-aggregator/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea-windows-containerd.yml
  build/yamls/antrea-windows.yml
  build/yamls/antrea.yml
  build/yamls/flow-aggregator.yml
  build/yamls/windows/base/conf/antrea-agent.conf
  cmd/antrea-agent/options.go
  docs/network-flow-visibility.md
  go.mod
  go.sum
  pkg/agent/flowexporter/connections/conntrack_others.go
  pkg/agent/flowexporter/exporter/certificate.go
  pkg/agent/flowexporter/exporter/exporter.go
  pkg/agent/flowexporter/exporter/exporter_perf_test.go
  pkg/agent/flowexporter/exporter/exporter_test.go
  pkg/config/agent/config.go
  pkg/config/flowaggregator/config.go
  pkg/config/flowaggregator/default.go
  pkg/flowaggregator/certificate.go
  pkg/flowaggregator/exporter/ipfix.go
  pkg/util/flowexport/flowexport_test.go
  plugins/octant/go.mod
  plugins/octant/go.sum
Labels: action/release-note

#4562 Change toService.scope to enum
  build/charts/antrea/crds/clusternetworkpolicy.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  multicluster/test/e2e/service_test.go
Labels: area/multi-cluster

#4574 Modify the message length limitation in ANP Condition
  pkg/controller/networkpolicy/status_controller.go
  pkg/controller/networkpolicy/status_controller_test.go
Labels: action/release-note

#4580 Change RemoteCommonArea localClusterID to ClusterID type
  multicluster/controllers/multicluster/commonarea/remote_common_area.go
  multicluster/controllers/multicluster/member/acnp_resourceimport_controller_test.go
  multicluster/controllers/multicluster/member/clusterinfo_importer_test.go
  multicluster/controllers/multicluster/member/clusterset_controller.go
  multicluster/controllers/multicluster/member/labelidentity_import_controller.go
  multicluster/controllers/multicluster/member/labelidentity_import_controller_test.go
  multicluster/controllers/multicluster/member/resourceimport_controller.go
  multicluster/controllers/multicluster/member/resourceimport_controller_test.go
Labels: area/multi-cluster

#4555 Automated cherry pick of #4543 and #4562
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/conf/antrea-controller.conf
  build/charts/antrea/crds/clusternetworkpolicy.yaml
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  docs/feature-gates.md
  docs/multicluster/quick-start.md
  docs/multicluster/user-guide.md
  multicluster/test/e2e/service_test.go
  pkg/config/agent/config.go
  pkg/config/controller/config.go
Labels: kind/cherry-pick

#4541 Replace custom Clair scan with Trivy Github Workflows
  .github/workflows/clair.yml
  .github/workflows/trivy_scan.yml
  .github/workflows/trivy_scan_before_release.yml
  .trivy.yml
  Makefile
  ci/clair-scan/.gitignore
  ci/clair-scan/README.md
  ci/clair-scan/analyze.go
  ci/clair-scan/go.mod
  ci/clair-scan/go.sum
  ci/clair-scan/main.go
  ci/clair-scan/notify.go
  ci/clair-scan/report.go
  ci/clair-scan/run.sh
Labels: kind/cleanup, area/test/infra, area/build-release
