Repository antrea-io/antrea, pull requests merged in 2023-06, with the labels that each got.

#4989 Fix flaky e2e tests
  test/e2e/proxy_test.go
Labels: area/test/e2e

#5056 Add kubeAPIServerOverride option to antrea-controller
  .github/workflows/kind.yml
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/conf/antrea-controller.conf
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-agent/agent.go
  cmd/antrea-controller/controller.go
  docs/antrea-ipam.md
  pkg/config/agent/config.go
  pkg/config/controller/config.go
  pkg/util/k8s/client.go
  pkg/util/k8s/client_test.go
Labels: action/release-note

#5020 Upgrade to clickhouse-go/v2
  build/yamls/flow-visibility-e2e.yml
  ci/kind/test-e2e-kind.sh
  go.mod
  go.sum
  pkg/flowaggregator/clickhouseclient/clickhouseclient.go
  pkg/flowaggregator/clickhouseclient/clickhouseclient_test.go
  pkg/flowaggregator/exporter/clickhouse.go
  pkg/flowaggregator/exporter/clickhouse_test.go
  test/e2e/framework.go
Labels: action/release-note

#5053 Pass a context from stopCh in Multi-cluster stale controller
  multicluster/controllers/multicluster/stale_controller.go
  multicluster/controllers/multicluster/stale_controller_test.go
Labels: area/multi-cluster

#5000 Add e2e tests for Service without Endpoint
  test/e2e/networkpolicy_test.go
  test/e2e/service_test.go
Labels: area/test/e2e, size/S

#4452 Adds the unit test for pkg/support
  pkg/support/dump_others_test.go
  pkg/support/dump_test.go
  pkg/support/dump_windows_test.go
Labels: area/test

#5075 Fix ClusterClaim deletion webhook bug
  multicluster/cmd/multicluster-controller/clusterclaim_webhook.go
  multicluster/cmd/multicluster-controller/clusterclaim_webhook_test.go
Labels: area/multi-cluster, action/backport

#5096 Fix status report when no-op changes are applied to Antrea-native policies
  pkg/agent/controller/networkpolicy/cache.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller.go
  test/e2e/antreapolicy_test.go
Labels: area/network-policy, action/backport, action/release-note

#5098 Use k8s.io/utils/clock for audit logging
  pkg/agent/controller/networkpolicy/audit_logging.go
  pkg/agent/controller/networkpolicy/audit_logging_test.go
Labels: area/test, area/network-policy

#5078 Bugfix: TCP src port is unset on the TCP DNS response flow
  pkg/agent/openflow/network_policy.go
  pkg/agent/openflow/network_policy_test.go
Labels: action/backport, action/release-note

#5106 Automated cherry pick of #5078: Bugfix: TCP src port is unset on the TCP DNS response flow
  pkg/agent/openflow/network_policy.go
  pkg/agent/openflow/network_policy_test.go
Labels: kind/cherry-pick

#5101 Add appliedTo Pod namespace / name to audit logs
  pkg/agent/controller/networkpolicy/audit_logging.go
  pkg/agent/controller/networkpolicy/audit_logging_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/network_policy.go
  pkg/agent/openflow/network_policy_test.go
  pkg/agent/openflow/testing/mock_openflow.go
  test/e2e/antreaipam_anp_test.go
  test/e2e/antreapolicy_test.go
  test/e2e/k8s_util.go
  test/e2e/util.go
Labels: api-review, area/monitoring/auditing, area/network-policy, action/release-note

#5038 Refactor Validation and Mutation Webhook test
  pkg/controller/networkpolicy/mutate_test.go
  pkg/controller/networkpolicy/validate.go
  pkg/controller/networkpolicy/validate_test.go
  test/e2e/antreapolicy_test.go
  test/e2e/utils/grp_spec_builder.go
Labels: area/test

#5081 Update short-names for AntreaNetworkPolicy as ANNP
  build/charts/antrea/crds/networkpolicy.yaml
  build/charts/antrea/templates/webhooks/mutating/crdmutator.yaml
  build/charts/antrea/templates/webhooks/validating/crdvalidator.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-controller/controller.go
  docs/antctl.md
  docs/antrea-network-policy.md
  docs/prometheus-integration.md
  multicluster/test/e2e/framework.go
  multicluster/test/e2e/main_test.go
  multicluster/test/e2e/service_test.go
  pkg/agent/apiserver/handlers/networkpolicy/handler.go
  pkg/agent/controller/networkpolicy/audit_logging_test.go
  pkg/agent/controller/networkpolicy/cache.go
  pkg/agent/controller/networkpolicy/reconciler.go
  pkg/agent/multicast/mcast_controller.go
  pkg/agent/multicast/mcast_controller_test.go
  pkg/agent/multicast/mcast_discovery.go
  pkg/agent/multicast/mcast_discovery_test.go
  pkg/agent/stats/collector.go
  pkg/agent/stats/collector_test.go
  pkg/agent/util/syscall/interfaces.go
  pkg/antctl/antctl.go
  pkg/apis/controlplane/helper_test.go
  pkg/apiserver/apiserver.go
  pkg/controller/metrics/prometheus.go
  pkg/controller/networkpolicy/antreanetworkpolicy.go
  pkg/controller/networkpolicy/antreanetworkpolicy_test.go
  pkg/controller/networkpolicy/clustergroup.go
  pkg/controller/networkpolicy/clusternetworkpolicy.go
  pkg/controller/networkpolicy/clusternetworkpolicy_test.go
  pkg/controller/networkpolicy/crd_utils.go
  pkg/controller/networkpolicy/group.go
  pkg/controller/networkpolicy/mutate.go
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_perf_test.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/controller/networkpolicy/status_controller.go
  pkg/controller/networkpolicy/status_controller_test.go
  pkg/controller/networkpolicy/validate.go
  pkg/controller/networkpolicy/validate_test.go
  pkg/controller/stats/aggregator.go
  pkg/controller/stats/aggregator_test.go
  pkg/monitor/controller_test.go
  pkg/querier/querier.go
  test/e2e/antreapolicy_test.go
  test/e2e/flowaggregator_test.go
  test/e2e/k8s_util.go
  test/e2e/l7networkpolicy_test.go
  test/e2e/multicast_test.go
  test/e2e/traceflow_test.go
  test/e2e/utils/annp_spec_builder.go
  test/e2e/vmagent_test.go
  test/performance/benchmark.yml
Labels: api-review, area/api, action/release-note

#5109 Remove unused graphviz package
  build/images/ovs/Dockerfile
  go.mod
  go.sum
  pkg/graphviz/traceflow.go
  pkg/graphviz/traceflow_test.go
Labels: kind/cleanup

#4966 Add Jenkins backup job on CI pipeline
  ci/jenkins/jobs/macros.yaml
  ci/jenkins/jobs/projects-lab.yaml
Labels: area/test/infra

#5088 [Flow Visibility] Add Egress information in flow records
  build/yamls/flow-visibility-e2e.yml
  ci/kind/test-e2e-kind.sh
  cmd/antrea-agent/agent.go
  go.mod
  go.sum
  hack/update-codegen-dockerized.sh
  pkg/agent/controller/egress/egress_controller.go
  pkg/agent/controller/egress/egress_controller_test.go
  pkg/agent/controller/traceflow/packetin.go
  pkg/agent/controller/traceflow/packetin_test.go
  pkg/agent/flowexporter/exporter/exporter.go
  pkg/agent/flowexporter/exporter/exporter_test.go
  pkg/agent/flowexporter/types.go
  pkg/flowaggregator/clickhouseclient/clickhouseclient.go
  pkg/flowaggregator/clickhouseclient/clickhouseclient_test.go
  pkg/flowaggregator/flowlogger/logger.go
  pkg/flowaggregator/flowlogger/logger_test.go
  pkg/flowaggregator/flowrecord/record.go
  pkg/flowaggregator/flowrecord/testing/util.go
  pkg/flowaggregator/infoelements/elements.go
  pkg/flowaggregator/s3uploader/s3uploader.go
  pkg/flowaggregator/testing/util.go
  pkg/querier/querier.go
  pkg/querier/testing/mock_querier.go
  test/e2e/flowaggregator_test.go
  test/e2e/framework.go
Labels: area/flow-visibility, action/release-note

#5125 Fix incorrect FlowMod message passing in openflow client modifyFlows
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
Labels: kind/bug, action/backport, action/release-note

#5127 Fix Egress IP not advertised in some cases
  pkg/agent/controller/egress/egress_controller.go
  pkg/agent/controller/egress/egress_controller_test.go
  pkg/agent/controller/serviceexternalip/controller.go
  pkg/agent/controller/serviceexternalip/controller_test.go
  pkg/agent/ipassigner/ip_assigner.go
  pkg/agent/ipassigner/ip_assigner_linux.go
  pkg/agent/ipassigner/responder/arp_responder.go
  pkg/agent/ipassigner/responder/arp_responder_test.go
  pkg/agent/ipassigner/responder/ndp_responder.go
  pkg/agent/ipassigner/responder/ndp_responder_test.go
  pkg/agent/ipassigner/testing/mock_ipassigner.go
  test/e2e/egress_test.go
  test/e2e/framework.go
  test/e2e/multicast_test.go
  test/integration/agent/ip_assigner_linux_test.go
Labels: area/transit/egress, action/backport, action/release-note

#5118 Automated cherry pick of #5075: Fix ClusterClaim deletion webhook bug
  multicluster/cmd/multicluster-controller/clusterclaim_webhook.go
  multicluster/cmd/multicluster-controller/clusterclaim_webhook_test.go
Labels: kind/cherry-pick

#5141 Automated cherry pick of #5127: Fix Egress IP not advertised in some cases
  pkg/agent/controller/egress/egress_controller.go
  pkg/agent/controller/egress/egress_controller_test.go
  pkg/agent/controller/serviceexternalip/controller.go
  pkg/agent/controller/serviceexternalip/controller_test.go
  pkg/agent/ipassigner/ip_assigner.go
  pkg/agent/ipassigner/ip_assigner_linux.go
  pkg/agent/ipassigner/responder/arp_responder.go
  pkg/agent/ipassigner/responder/arp_responder_test.go
  pkg/agent/ipassigner/responder/ndp_responder.go
  pkg/agent/ipassigner/responder/ndp_responder_test.go
  pkg/agent/ipassigner/testing/mock_ipassigner.go
  test/e2e/egress_test.go
  test/e2e/framework.go
  test/e2e/multicast_test.go
  test/integration/agent/ip_assigner_linux_test.go
Labels: kind/cherry-pick

#4392 Add unit test for cmd
  cmd/antrea-controller/main.go
  cmd/antrea-controller/options.go
  cmd/antrea-controller/options_test.go
Labels: area/test

#5152 Automated cherry pick of #5116: Use k8s 1.27.2 and containerd for e2e
  ci/jenkins/test.sh
Labels: kind/cherry-pick

#5154 Bump up libOpenflow and ofnet versions
  go.mod
  go.sum
Labels: action/backport

#5119 Automated cherry pick of #5075: Fix ClusterClaim deletion webhook bug
  multicluster/cmd/multicluster-controller/clusterclaim_webhook.go
  multicluster/cmd/multicluster-controller/clusterclaim_webhook_test.go
Labels: kind/cherry-pick

#5080 Refine "antctl mc deploy" command
  pkg/antctl/raw/multicluster/deploy/deploy_helper.go
  pkg/antctl/raw/multicluster/deploy/deploy_helper_test.go
Labels: area/multi-cluster, action/backport

#5148 Fix ClickHouse service not found in FA e2e test
  test/e2e/framework.go
Labels: action/backport

#5135 Improve direct connections to Antrea API in antctl
  cmd/antrea-agent/agent.go
  pkg/agent/apiserver/apiserver.go
  pkg/antctl/raw/featuregates/command.go
  pkg/antctl/raw/featuregates/command_test.go
  pkg/antctl/raw/helper.go
  pkg/antctl/raw/helper_test.go
  pkg/antctl/raw/multicluster/common/common.go
  pkg/antctl/raw/multicluster/deploy/deploy_helper.go
  pkg/antctl/raw/proxy/command.go
  pkg/antctl/raw/supportbundle/command.go
  pkg/antctl/raw/supportbundle/command_test.go
  pkg/apis/crd/v1beta1/types.go
  pkg/apis/crd/v1beta1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/monitor/agent.go
  pkg/monitor/agent_test.go
  pkg/util/k8s/node.go
  pkg/util/k8s/node_test.go
Labels: api-review, area/api, area/component/antctl, action/release-note

#5120 Update Windows OVS version to 3.0.5
  hack/windows/Install-OVS.ps1
Labels: area/OS/windows

#5149 [e2e] Export logs for TestNetworkPolicy subtests
  test/e2e/fixtures.go
  test/e2e/networkpolicy_test.go
Labels: area/test/e2e

#5168 Remove build infra for wireguard-go Docker image
  build/images/wireguard-go/Dockerfile
  build/images/wireguard-go/README.md
Labels: area/build-release

#4973 Support service.kubernetes.io/service-proxy-name label in AntreaProxy
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea-windows.yml
  build/yamls/antrea.yml
  build/yamls/windows/base/conf/antrea-agent.conf
  cmd/antrea-agent/agent.go
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  pkg/agent/proxy/service.go
  pkg/config/agent/config.go
  third_party/proxy/service.go
  third_party/proxy/util/utils.go
Labels: area/proxy, action/release-note

#5039 Refactor learn flow actions
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/pipeline.go
  pkg/ovs/openflow/interfaces.go
  pkg/ovs/openflow/ofctrl_action.go
  test/integration/agent/openflow_test.go
  test/integration/ovs/ofctrl_test.go
Labels: area/ovs/openflow

#5138 Add apiVersion and kind for unstructured objects in "antctl mc" code
  pkg/antctl/raw/multicluster/common/common.go
Labels: area/multi-cluster
