Repository antrea-io/antrea, pull requests merged in 2023-07, with the labels that each got.

#5188 Use an unique ID allocator for OpenFlow groups
  cmd/antrea-agent/agent.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/agent/controller/networkpolicy/reconciler_test.go
  pkg/agent/multicast/mcast_controller_test.go
  pkg/agent/openflow/groups.go
  pkg/agent/proxy/proxier_test.go
Labels: kind/cleanup

#5194 Fix IPv4 group containing IPv6 endpoints in dual-stack cluster
  pkg/agent/proxy/endpointslicecache.go
  pkg/agent/proxy/proxier_test.go
Labels: area/proxy, action/backport, action/release-note

#5195 Automated cherry pick of #5194: Fix IPv4 group containing IPv6 endpoints in dual-stack
  pkg/agent/proxy/endpointslicecache.go
  pkg/agent/proxy/proxier_test.go
Labels: kind/cherry-pick

#5196 Automated cherry pick of #5194: Fix IPv4 group containing IPv6 endpoints in dual-stack
  pkg/agent/proxy/endpointslicecache.go
  pkg/agent/proxy/proxier_test.go
Labels: kind/cherry-pick

#5107 Change default port range for NodePortLocal on Windows and improve NPL e2e tests
  build/yamls/antrea-windows-containerd.yml
  build/yamls/antrea-windows.yml
  build/yamls/windows/base/conf/antrea-agent.conf
  ci/jenkins/test.sh
  cmd/antrea-agent/options.go
  cmd/antrea-agent/options_linux.go
  cmd/antrea-agent/options_windows.go
  pkg/agent/nodeportlocal/k8s/npl_controller.go
  test/e2e/nodeportlocal_test.go
Labels: action/release-note

#4936 Add Windows OVS image for windows ovs containerisation
  build/images/deps/ovs-version-windows
  build/images/ovs/Dockerfile.windows
  hack/build-antrea-windows-all.sh
Labels: area/OS/windows, action/release-note

#4346 Add sort-by flag in more antctl resources for more fields
  docs/antctl.md
  go.mod
  go.sum
  pkg/antctl/antctl.go
  pkg/antctl/command_definition.go
  pkg/antctl/transform/addressgroup/transform.go
  pkg/antctl/transform/addressgroup/transform_test.go
  pkg/antctl/transform/appliedtogroup/transform.go
  pkg/antctl/transform/appliedtogroup/transform_test.go
  pkg/antctl/transform/networkpolicy/transform.go
  pkg/antctl/transform/networkpolicy/transform_test.go
Labels: area/component/antctl, action/release-note

#5225 Upgrade OVS to 2.17.7
  build/images/deps/ovs-version
  build/images/ovs/Dockerfile
  build/images/ovs/apply-patches.sh
  docs/troubleshooting.md
Labels: action/backport, action/release-note

#5219 Clean up some infra images
  .github/workflows/docker_update_ethtool.yml
  build/images/ethtool/Dockerfile
  build/images/ethtool/README.md
  build/images/lichen/Dockerfile
  build/images/lichen/README.md
  build/images/perftool/Dockerfile
  build/images/perftool/README.md
  ci/kind/kind-setup.sh
  ci/kind/test-e2e-kind.sh
  pkg/flowaggregator/clickhouseclient/clickhouseclient_test.go
  pkg/flowaggregator/flowrecord/record.go
  pkg/flowaggregator/flowrecord/record_test.go
  pkg/flowaggregator/flowrecord/testing/util.go
  pkg/flowaggregator/s3uploader/s3uploader_test.go
  pkg/flowaggregator/testing/util.go
  test/e2e/README.md
  test/e2e/bandwidth_test.go
  test/e2e/fixtures.go
  test/e2e/flowaggregator_test.go
  test/e2e/framework.go
  test/e2e/performance_test.go
Labels: area/test/infra

#5235 Fix TestController_RotateCertificates unit test
  pkg/agent/controller/ipseccertificate/ipsec_certificate_controller.go
  pkg/agent/controller/ipseccertificate/ipsec_certificate_controller_test.go
Labels: kind/failing-test

#5232 Automated cherry pick of #5225: Upgrade OVS to 2.17.7
  build/images/deps/ovs-version
  build/images/ovs/Dockerfile
  build/images/ovs/apply-patches.sh
  docs/troubleshooting.md
Labels: kind/cherry-pick

#5231 Automated cherry pick of #5225: Upgrade OVS to 2.17.7
  build/images/deps/ovs-version
  build/images/ovs/Dockerfile
  build/images/ovs/apply-patches.sh
  docs/troubleshooting.md
Labels: kind/cherry-pick

#5099 Change Multi-cluster Controller ResEx QPS and LabelID worker num
  multicluster/cmd/multicluster-controller/controller.go
  multicluster/controllers/multicluster/common/types.go
  multicluster/controllers/multicluster/commonarea/remote_common_area.go
  multicluster/controllers/multicluster/leader/labelidentity_export_controller.go
  multicluster/controllers/multicluster/member/labelidentity_controller.go
  multicluster/controllers/multicluster/member/labelidentity_import_controller.go
Labels: area/multi-cluster, action/release-note

#4657 Add Multi-cluster E2E Jenkins job on cloud
  ci/jenkins/jobs/macros.yaml
  ci/jenkins/jobs/projects-cloud.yaml
Labels: area/test/infra, area/multi-cluster

#5246 Automated cherry pick of #5164: Add square brackets for IP addresse when using jumper mode
  ci/jenkins/test.sh
Labels: kind/cherry-pick

#5241 Consume Topology Mode Annotation for AntreaProxy
  third_party/proxy/service.go
  third_party/proxy/types.go
Labels: area/proxy, action/release-note

#5248 Automated cherry pick of #4920: Upgrade Kind
  .github/workflows/kind.yml
  .github/workflows/netpol_cyclonus.yml
  ci/kind/kind-setup.sh
  multicluster/hack/verify-tools.sh
  test/e2e/l7networkpolicy_test.go
Labels: kind/cherry-pick

#4864 Add unit test for pkg/apiserver/handlers/webhook
  pkg/apiserver/handlers/webhook/convert_crd_test.go
  pkg/apiserver/handlers/webhook/mutation_crd_test.go
  pkg/apiserver/handlers/webhook/mutation_labels_test.go
  pkg/apiserver/handlers/webhook/validation_crd_test.go
  pkg/apiserver/handlers/webhook/webhook_test.go
Labels: area/test

#5172 Upgrade Tier API version to v1beta1
  build/charts/antrea/crds/tier.yaml
  build/charts/antrea/templates/webhooks/validating/crdvalidator.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-controller/controller.go
  docs/antrea-network-policy.md
  docs/api.md
  multicluster/cmd/multicluster-controller/controller.go
  multicluster/controllers/multicluster/member/acnp_resourceimport_controller.go
  multicluster/controllers/multicluster/member/acnp_resourceimport_controller_test.go
  multicluster/controllers/multicluster/member/resourceimport_controller_test.go
  pkg/apis/crd/v1beta1/register.go
  pkg/apis/crd/v1beta1/types.go
  pkg/apis/crd/v1beta1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/fake/fake_crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/fake/fake_tier.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/generated_expansion.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/tier.go
  pkg/client/informers/externalversions/crd/v1beta1/interface.go
  pkg/client/informers/externalversions/crd/v1beta1/tier.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/crd/v1beta1/expansion_generated.go
  pkg/client/listers/crd/v1beta1/tier.go
  pkg/controller/networkpolicy/clusternetworkpolicy_test.go
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/controller/networkpolicy/tier.go
  pkg/controller/networkpolicy/tier_test.go
  pkg/controller/networkpolicy/validate.go
  pkg/controller/networkpolicy/validate_test.go
  pkg/monitor/controller_test.go
  test/e2e/antreapolicy_test.go
  test/e2e/k8s_util.go
Labels: api-review, action/release-note

#4703 Add unit tests for pkg/agent/agent.go
  pkg/agent/agent.go
  pkg/agent/agent_linux.go
  pkg/agent/agent_linux_test.go
  pkg/agent/agent_test.go
  pkg/agent/agent_windows.go
Labels: area/test

#5254 Fix externalnode e2e script
  ci/jenkins/test-vm.sh
Labels: action/backport

#5176 Promote ExternalIPPool API to v1beta1
  build/charts/antrea/crds/externalippool.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-agent/agent.go
  cmd/antrea-controller/controller.go
  docs/api.md
  docs/egress.md
  pkg/agent/memberlist/cluster.go
  pkg/agent/memberlist/cluster_test.go
  pkg/apis/crd/v1beta1/register.go
  pkg/apis/crd/v1beta1/types.go
  pkg/apis/crd/v1beta1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/externalippool.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/fake/fake_crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/fake/fake_externalippool.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/generated_expansion.go
  pkg/client/informers/externalversions/crd/v1beta1/externalippool.go
  pkg/client/informers/externalversions/crd/v1beta1/interface.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/crd/v1beta1/expansion_generated.go
  pkg/client/listers/crd/v1beta1/externalippool.go
  pkg/controller/egress/controller_test.go
  pkg/controller/egress/validate_test.go
  pkg/controller/externalippool/controller.go
  pkg/controller/externalippool/controller_test.go
  pkg/controller/externalippool/validate.go
  pkg/controller/serviceexternalip/controller_test.go
Labels: api-review, action/release-note

#5250 Enhance ClusterSet controller to support ClusterSet version upgrade
  docs/multicluster/upgrade.md
  docs/multicluster/user-guide.md
  multicluster/cmd/multicluster-controller/controller.go
  multicluster/cmd/multicluster-controller/controller_test.go
  multicluster/cmd/multicluster-controller/leader.go
  multicluster/cmd/multicluster-controller/member.go
  multicluster/cmd/multicluster-controller/options.go
  multicluster/controllers/multicluster/common/controller_utils.go
  multicluster/controllers/multicluster/common/controller_utils_test.go
  multicluster/controllers/multicluster/leader/clusterset_controller.go
  multicluster/controllers/multicluster/member/clusterset_controller.go
  multicluster/controllers/multicluster/member/gateway_controller_test.go
  multicluster/controllers/multicluster/member/labelidentity_controller_test.go
  multicluster/controllers/multicluster/member/resourceimport_controller_test.go
  multicluster/controllers/multicluster/member/serviceexport_controller_test.go
  multicluster/controllers/multicluster/stale_controller_test.go
  multicluster/test/integration/suite_test.go
Labels: area/multi-cluster

#5273 Fix a bug in test-e2e-kind.sh
  ci/kind/test-e2e-kind.sh
Labels: kind/bug, size/XS

#5247 Automated cherry pick of #5164: Add square brackets for IP addresse when using jumper mode
  ci/jenkins/test.sh
Labels: kind/cherry-pick

#5272 Fix a bug of error handling in GetPodByLabel
  test/e2e/k8s_util.go
Labels: kind/bug

#5281 Windows containerd e2e should load antrea-ubuntu image for containerd
  ci/jenkins/test.sh
Labels: area/test/e2e

#5202 Support DSR mode for Service's external addresses
  .github/workflows/kind.yml
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  ci/kind/test-e2e-kind.sh
  cmd/antrea-agent/agent.go
  cmd/antrea-agent/options.go
  cmd/antrea-agent/options_test.go
  go.mod
  go.sum
  pkg/agent/config/load_balancer_mode.go
  pkg/agent/config/load_balancer_mode_test.go
  pkg/agent/nodeip/testing/fake_checker.go
  pkg/agent/nodeip/tracker.go
  pkg/agent/nodeip/tracker_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/fields.go
  pkg/agent/openflow/framework.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/pod_connectivity.go
  pkg/agent/openflow/pod_connectivity_test.go
  pkg/agent/openflow/service.go
  pkg/agent/openflow/service_test.go
  pkg/agent/openflow/testing/mock_openflow.go
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  pkg/agent/proxy/types/types.go
  pkg/agent/types/annotations.go
  pkg/agent/types/service.go
  pkg/config/agent/config.go
  pkg/features/antrea_features.go
  pkg/ovs/openflow/interfaces.go
  pkg/ovs/openflow/ofctrl_action.go
  pkg/ovs/openflow/testing/mock_openflow.go
  test/e2e/antreapolicy_test.go
  test/e2e/egress_test.go
  test/e2e/framework.go
  test/e2e/proxy_test.go
  test/e2e/service_externalip_test.go
  test/integration/agent/openflow_test.go
  test/integration/ovs/ofctrl_test.go
  third_party/proxy/service.go
Labels: area/proxy, action/release-note

#5251 Document LoadBalancerMode related feature gate and configuration
  docs/antrea-proxy.md
  docs/feature-gates.md
Labels: kind/documentation, area/proxy

#5285 Use new virtual time for TestController_RotateCertificates
  pkg/agent/controller/ipseccertificate/ipsec_certificate_controller_test.go
Labels: kind/failing-test

#5286 Automated cherry pick of #5277: Re-serve v1alpha2 ClusterGroup
  build/charts/antrea/crds/clustergroup.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  docs/api.md
Labels: kind/cherry-pick

#4932 Enhance L7 NetworkPolicy to support TLS protocol
  build/charts/antrea/crds/clusternetworkpolicy.yaml
  build/charts/antrea/crds/networkpolicy.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  docs/antrea-l7-network-policy.md
  multicluster/build/yamls/antrea-multicluster-leader-global.yml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceexports.yaml
  multicluster/config/crd/bases/multicluster.crd.antrea.io_resourceimports.yaml
  pkg/agent/controller/networkpolicy/l7engine/reconciler.go
  pkg/agent/controller/networkpolicy/l7engine/reconciler_test.go
  pkg/apis/controlplane/types.go
  pkg/apis/controlplane/v1beta2/generated.pb.go
  pkg/apis/controlplane/v1beta2/generated.proto
  pkg/apis/controlplane/v1beta2/types.go
  pkg/apis/controlplane/v1beta2/zz_generated.conversion.go
  pkg/apis/controlplane/v1beta2/zz_generated.deepcopy.go
  pkg/apis/controlplane/zz_generated.deepcopy.go
  pkg/apis/crd/v1alpha1/types.go
  pkg/apis/crd/v1alpha1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/controller/networkpolicy/crd_utils.go
  pkg/controller/networkpolicy/crd_utils_test.go
  test/e2e/l7networkpolicy_test.go
Labels: action/release-note

#5061 Use OpenFlow group for Network Policy logging
  cmd/antrea-agent/agent.go
  hack/update-codegen-dockerized.sh
  pkg/agent/controller/networkpolicy/audit_logging.go
  pkg/agent/controller/networkpolicy/audit_logging_test.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/agent/controller/networkpolicy/packetin.go
  pkg/agent/controller/traceflow/packetin.go
  pkg/agent/controller/traceflow/packetin_test.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/egress.go
  pkg/agent/openflow/externalnode_connectivity.go
  pkg/agent/openflow/externalnode_connectivity_test.go
  pkg/agent/openflow/fields.go
  pkg/agent/openflow/framework.go
  pkg/agent/openflow/framework_test.go
  pkg/agent/openflow/multicast.go
  pkg/agent/openflow/multicast_test.go
  pkg/agent/openflow/multicluster.go
  pkg/agent/openflow/network_policy.go
  pkg/agent/openflow/network_policy_test.go
  pkg/agent/openflow/packetin_test.go
  pkg/agent/openflow/pipeline.go
  pkg/agent/openflow/pipeline_other.go
  pkg/agent/openflow/pipeline_windows.go
  pkg/agent/openflow/pod_connectivity.go
  pkg/agent/openflow/pod_connectivity_test.go
  pkg/agent/openflow/service.go
  pkg/agent/openflow/service_test.go
  pkg/agent/openflow/traceflow.go
  pkg/ovs/openflow/interfaces.go
  pkg/ovs/openflow/ofctrl_group.go
  pkg/ovs/openflow/testing/mock_openflow.go
  test/integration/agent/openflow_test.go
  test/integration/ovs/openflow_test_utils.go
Labels: action/release-note

#5112 Remove the associated stale conntrack entries when UDP Endpoints are removed
  build/charts/antrea/conf/antrea-agent.conf
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  docs/feature-gates.md
  pkg/agent/proxy/proxier.go
  pkg/agent/proxy/proxier_test.go
  pkg/agent/route/interfaces.go
  pkg/agent/route/route_linux.go
  pkg/agent/route/route_windows.go
  pkg/agent/route/testing/mock_route.go
  pkg/agent/util/netlink/netlink_linux.go
  pkg/agent/util/netlink/testing/mock_netlink_linux.go
  pkg/features/antrea_features.go
Labels: area/proxy, action/release-note

#5181 Upgrade ClusterGroup and Group to v1beta1
  build/charts/antrea/crds/clustergroup.yaml
  build/charts/antrea/crds/group.yaml
  build/charts/antrea/templates/webhooks/validating/crdvalidator.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-controller/controller.go
  docs/antrea-network-policy.md
  docs/api.md
  pkg/apis/crd/v1beta1/register.go
  pkg/apis/crd/v1beta1/types.go
  pkg/apis/crd/v1beta1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/clustergroup.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/fake/fake_clustergroup.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/fake/fake_crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/fake/fake_group.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/generated_expansion.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/group.go
  pkg/client/informers/externalversions/crd/v1beta1/clustergroup.go
  pkg/client/informers/externalversions/crd/v1beta1/group.go
  pkg/client/informers/externalversions/crd/v1beta1/interface.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/crd/v1beta1/clustergroup.go
  pkg/client/listers/crd/v1beta1/expansion_generated.go
  pkg/client/listers/crd/v1beta1/group.go
  pkg/controller/networkpolicy/clustergroup.go
  pkg/controller/networkpolicy/clustergroup_test.go
  pkg/controller/networkpolicy/clusternetworkpolicy_test.go
  pkg/controller/networkpolicy/convert.go
  pkg/controller/networkpolicy/crd_utils.go
  pkg/controller/networkpolicy/crd_utils_test.go
  pkg/controller/networkpolicy/group.go
  pkg/controller/networkpolicy/group_test.go
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/controller/networkpolicy/validate.go
  pkg/controller/networkpolicy/validate_test.go
  pkg/monitor/controller_test.go
  test/e2e/antreapolicy_test.go
  test/e2e/clustergroup_test.go
  test/e2e/group_test.go
  test/e2e/k8s_util.go
  test/e2e/utils/cg_spec_builder.go
  test/e2e/utils/grp_spec_builder.go
Labels: api-review, action/release-note

#5294 Reduce number of goroutines in TestConcurrentCreateGroups
  pkg/ovs/openflow/ofctrl_bridge_test.go
Labels: size/XS

#5206 Add openAPI schema for AntreaAgentInfo and AntreaControllerInfo
  build/charts/antrea/crds/antreaagentinfo.yaml
  build/charts/antrea/crds/antreacontrollerinfo.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
Labels: api-review, action/release-note

#5298 Fix GKE conformance job
  ci/test-conformance-gke.sh
  docs/gke-installation.md
Labels: area/test/community, area/provider/gcp, action/backport

#5308 Automated cherry pick of #5287: free more space before running flow-visibility e2e test
  .github/workflows/kind.yml
Labels: kind/cherry-pick

#5309 Automated cherry pick of #5287: free more space before running flow-visibility e2e test
  .github/workflows/kind.yml
Labels: kind/cherry-pick

#5304 Automated cherry pick of #5298: Fix GKE conformance job
  ci/test-conformance-gke.sh
  docs/gke-installation.md
Labels: kind/cherry-pick

#5310 Automated cherry pick of #4873: Stop exporting KUBECONFIG in ci/test-conformance-gke.sh #4983: Fix GKE CI job #5298: Fix GKE conformance job
  ci/jenkins/jobs/macros.yaml
  ci/jenkins/jobs/projects-cloud.yaml
  ci/test-conformance-gke.sh
  docs/gke-installation.md
Labels: kind/cherry-pick

#5165 Add ovs meter metric
  cmd/antrea-agent/agent.go
  docs/prometheus-integration.md
  pkg/agent/metrics/prometheus.go
  pkg/agent/openflow/client.go
  pkg/agent/openflow/client_test.go
  pkg/agent/openflow/pipeline.go
  pkg/ovs/openflow/interfaces.go
  pkg/ovs/openflow/ofctrl_bridge.go
  pkg/ovs/openflow/ofctrl_bridge_test.go
  pkg/ovs/openflow/testing/mock_openflow.go
  pkg/ovs/ovsctl/testing/mock_ovsctl.go
  test/e2e/prometheus_test.go
  test/integration/agent/openflow_test.go
Labels: action/release-note

#5071 Add containerd support to PrepareNode script
  docs/windows.md
  hack/windows/Prepare-Node.ps1
Labels: area/OS/windows, action/release-note

#5320 Bump up libOpenflow library to v0.12.1
  go.mod
  go.sum
Labels: action/release-note

#4733 Add Documentation for deploying Antrea with Rancher cluster
  docs/getting-started.md
  docs/kubernetes-installers.md
Labels: kind/documentation

#5170 AdminNetworkPolicy support in Antrea
  .github/workflows/kind.yml
  build/charts/antrea/conf/antrea-controller.conf
  build/charts/antrea/templates/controller/clusterrole.yaml
  build/charts/antrea/templates/webhooks/validating/crdvalidator.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  ci/kind/test-netpol-v2-conformance-kind.sh
  cmd/antrea-agent-simulator/simulator.go
  cmd/antrea-agent/agent.go
  cmd/antrea-controller/controller.go
  docs/antctl.md
  docs/feature-gates.md
  go.mod
  go.sum
  pkg/agent/controller/networkpolicy/networkpolicy_controller.go
  pkg/agent/controller/networkpolicy/reconciler.go
  pkg/apis/controlplane/helper.go
  pkg/apis/controlplane/types.go
  pkg/apis/controlplane/v1beta2/helper.go
  pkg/apis/controlplane/v1beta2/types.go
  pkg/apiserver/apiserver.go
  pkg/controller/networkpolicy/adminnetworkpolicy.go
  pkg/controller/networkpolicy/adminnetworkpolicy_test.go
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/controller/networkpolicy/status_controller.go
  pkg/controller/networkpolicy/validate.go
  pkg/controller/networkpolicy/validate_test.go
  pkg/features/antrea_features.go
  pkg/monitor/controller_test.go
  pkg/util/k8s/client.go
Labels: action/release-note

#5270 Add documentation for AdminNetworkPolicy support in Antrea
  docs/admin-network-policy.md
  docs/antrea-network-policy.md
Labels: kind/documentation

#5305 Use antrea-windows image for antrea-ovs container
  build/images/Dockerfile.build.windows
  build/yamls/antrea-windows-containerd-with-ovs.yml
  build/yamls/antrea-windows-containerd.yml
  build/yamls/windows/containerd-with-ovs/containerd-with-ovs.yml
  build/yamls/windows/containerd/conf/Run-AntreaAgent-Containerd.ps1
Labels: area/OS/windows

#5108 Promote Traceflow API to v1beta1
  build/charts/antrea/crds/traceflow.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-agent/agent.go
  cmd/antrea-controller/controller.go
  docs/api.md
  docs/traceflow-guide.md
  pkg/agent/controller/traceflow/packetin.go
  pkg/agent/controller/traceflow/packetin_test.go
  pkg/agent/controller/traceflow/traceflow_controller.go
  pkg/agent/controller/traceflow/traceflow_controller_test.go
  pkg/apis/crd/v1alpha1/types.go
  pkg/apis/crd/v1beta1/register.go
  pkg/apis/crd/v1beta1/types.go
  pkg/apis/crd/v1beta1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/fake/fake_crd_client.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/fake/fake_traceflow.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/generated_expansion.go
  pkg/client/clientset/versioned/typed/crd/v1beta1/traceflow.go
  pkg/client/informers/externalversions/crd/v1beta1/interface.go
  pkg/client/informers/externalversions/crd/v1beta1/traceflow.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/crd/v1beta1/expansion_generated.go
  pkg/client/listers/crd/v1beta1/traceflow.go
  pkg/controller/traceflow/controller.go
  pkg/controller/traceflow/controller_test.go
Labels: api-review, action/release-note

#5198 Add command 'antctl upgrade api-storage' in antctl
  docs/antctl.md
  pkg/antctl/antctl.go
  pkg/antctl/command_definition.go
  pkg/antctl/command_list.go
  pkg/antctl/raw/upgrade/apistorage/command.go
  pkg/antctl/raw/upgrade/apistorage/command_test.go
Labels: action/release-note

#4898 [Windows] Use syscall to query or operate network adapters
  docs/design/windows-design.md
  pkg/agent/agent_windows.go
  pkg/agent/cniserver/interface_configuration_windows.go
  pkg/agent/route/route_windows.go
  pkg/agent/route/route_windows_test.go
  pkg/agent/util/net_linux_test.go
  pkg/agent/util/net_windows.go
  pkg/agent/util/net_windows_test.go
  pkg/agent/util/powershell/powershell_windows.go
  pkg/agent/util/syscall/interfaces.go
  pkg/agent/util/syscall/syscall_windows.go
  pkg/agent/util/syscall/syscall_windows_test.go
  pkg/agent/util/syscall/testing/mock_syscall_windows.go
Labels: action/release-note
