Repository antrea-io/antrea, pull requests merged in 2024-12, with the labels that each got.

#6835 Add 'type' arg for antctl get bgproutes to filter bgproutes
  docs/antctl.md
  pkg/agent/apiserver/handlers/bgppeer/handler.go
  pkg/agent/apiserver/handlers/bgppeer/handler_test.go
  pkg/agent/apiserver/handlers/bgproute/handler.go
  pkg/agent/apiserver/handlers/bgproute/handler_test.go
  pkg/agent/controller/bgp/controller.go
  pkg/agent/controller/bgp/controller_test.go
  pkg/antctl/antctl.go
  pkg/querier/querier.go
  pkg/querier/testing/mock_querier.go
Labels: area/component/antctl, action/release-note, area/transit/bgp

#6834 Push Antrea Ubuntu-based images to ghcr.io
  .github/workflows/build.yml
  .github/workflows/build_tag.yml
Labels: area/build-release, action/release-note

#6808 Add fqdnCacheMinTTL configuration parameter
  build/charts/antrea/README.md
  build/charts/antrea/conf/antrea-agent.conf
  build/charts/antrea/values.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  cmd/antrea-agent/agent.go
  cmd/antrea-agent/options.go
  pkg/agent/controller/networkpolicy/fqdn.go
  pkg/agent/controller/networkpolicy/fqdn_test.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller.go
  pkg/agent/controller/networkpolicy/networkpolicy_controller_test.go
  pkg/agent/controller/networkpolicy/pod_reconciler_test.go
  pkg/config/agent/config.go
  test/e2e/antreapolicy_test.go
Labels: area/network-policy

#6848 Support providing a fixed public host key for SFTP uploads
  build/charts/antrea/crds/packetcapture.yaml
  build/charts/antrea/crds/supportbundlecollection.yaml
  build/charts/antrea/templates/webhooks/validating/crdvalidator.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  docs/packetcapture-guide.md
  docs/support-bundle-guide.md
  pkg/agent/packetcapture/packetcapture_controller.go
  pkg/agent/packetcapture/packetcapture_controller_test.go
  pkg/agent/supportbundlecollection/support_bundle_controller.go
  pkg/agent/supportbundlecollection/support_bundle_controller_test.go
  pkg/apis/controlplane/types.go
  pkg/apis/controlplane/v1beta2/generated.pb.go
  pkg/apis/controlplane/v1beta2/generated.proto
  pkg/apis/controlplane/v1beta2/types.go
  pkg/apis/controlplane/v1beta2/zz_generated.conversion.go
  pkg/apis/controlplane/v1beta2/zz_generated.deepcopy.go
  pkg/apis/controlplane/zz_generated.deepcopy.go
  pkg/apis/crd/v1alpha1/types.go
  pkg/apis/crd/v1alpha1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/zz_generated.openapi.go
  pkg/controller/supportbundlecollection/controller_test.go
  pkg/controller/supportbundlecollection/store/collection.go
  pkg/controller/supportbundlecollection/validate.go
  pkg/controller/supportbundlecollection/validate_test.go
  pkg/util/sftp/ssh.go
  pkg/util/sftp/ssh_test.go
  pkg/util/sftp/testing/ssh.go
  test/e2e/framework.go
  test/e2e/packetcapture_test.go
Labels: kind/api-change, action/release-note

#6855 Fix K8s NetworkPolicy Deny All Audit Logging
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  test/e2e/antreapolicy_test.go
Labels: area/network-policy, action/backport, action/release-note

#6872 Automated cherry pick of #6855: Fix K8s NetworkPolicy Deny All Audit Logging
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  test/e2e/antreapolicy_test.go
Labels: kind/cherry-pick

#6871 Automated cherry pick of #6855: Fix K8s NetworkPolicy Deny All Audit Logging
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  test/e2e/antreapolicy_test.go
Labels: kind/cherry-pick

#6870 Automated cherry pick of #6855: Fix K8s NetworkPolicy Deny All Audit Logging
  pkg/controller/networkpolicy/networkpolicy_controller.go
  pkg/controller/networkpolicy/networkpolicy_controller_test.go
  test/e2e/antreapolicy_test.go
Labels: kind/cherry-pick

#6866 Add e2e test for SupportBundleCollection for K8s Nodes
  ci/jenkins/test-vm.sh
  ci/jenkins/test-vmc.sh
  ci/kind/test-e2e-kind.sh
  ci/kind/test-secondary-network-kind.sh
  test/e2e/framework.go
  test/e2e/packetcapture_test.go
  test/e2e/sftp_util.go
  test/e2e/supportbundle_test.go
  test/e2e/trafficcontrol_test.go
  test/e2e/vmagent_test.go
Labels: area/test/e2e

#6889 [Windows] Support OF port state "down" when installing Pod forwarding rules
  pkg/agent/cniserver/pod_configuration.go
  pkg/agent/cniserver/pod_configuration_test.go
Labels: area/OS/windows, kind/bug
