Repository antrea-io/antrea, pull requests merged in 2025-05, with the labels that each got.

#7138 Add more configuration values to the flow-aggregator chart
  build/charts/flow-aggregator/README.md
  build/charts/flow-aggregator/templates/deployment.yaml
  build/charts/flow-aggregator/values.yaml
  build/yamls/flow-aggregator.yml
  hack/generate-manifest-flow-aggregator.sh
  test/e2e/fixtures.go
  test/e2e/framework.go
Labels: area/flow-visibility, action/release-note

#7134 Configure routes via ip route add
  docs/secondary-network.md
  pkg/agent/util/net_linux.go
  pkg/agent/util/net_linux_test.go
  pkg/agent/util/netlink/netlink_linux.go
  pkg/agent/util/netlink/testing/mock_netlink_linux.go
Labels: action/release-note

#7070 add TCP flags filter support to PacketCapture
  build/charts/antrea/crds/packetcapture.yaml
  build/yamls/antrea-aks.yml
  build/yamls/antrea-crds.yml
  build/yamls/antrea-eks.yml
  build/yamls/antrea-gke.yml
  build/yamls/antrea-ipsec.yml
  build/yamls/antrea.yml
  docs/antctl.md
  docs/packetcapture-guide.md
  pkg/agent/packetcapture/capture/bpf.go
  pkg/agent/packetcapture/capture/bpf_test.go
  pkg/antctl/raw/packetcapture/command.go
  pkg/antctl/raw/packetcapture/command_test.go
  pkg/apis/crd/v1alpha1/types.go
  pkg/apis/crd/v1alpha1/zz_generated.deepcopy.go
  test/e2e/packetcapture_test.go
Labels: kind/api-change, action/release-note, area/ops/packetcapture

#7172 Automated cherry pick of #7165: Fix Kind job failures on Github after Docker Engine update #7167: Fix TestPacketCapture e2e test failure (#7167)
  ci/kind/kind-setup.sh
  test/e2e/packetcapture_test.go
Labels: kind/cherry-pick

#7173 Automated cherry pick of #7165: Fix Kind job failures on Github after Docker Engine update
  ci/kind/kind-setup.sh
Labels: kind/cherry-pick

#7154 [Multicast] Remove stale local members in the group cache
  pkg/agent/multicast/mcast_controller.go
  pkg/agent/multicast/mcast_controller_test.go
Labels: action/backport, action/release-note

#7174 Log PacketIn drops when dispatching to per-category queues
  pkg/agent/openflow/packetin.go
  pkg/ovs/openflow/ofctrl_bridge.go
  pkg/ovs/openflow/ofctrl_bridge_test.go
  test/integration/ovs/ofctrl_test.go
Labels: action/release-note

#6927 Add BGP confederation support in BGPPolicy
  docs/bgp-policy.md
  pkg/agent/bgp/gobgp/gobgp.go
  pkg/agent/bgp/interface.go
  pkg/agent/controller/bgp/controller.go
  pkg/agent/controller/bgp/controller_test.go
  test/e2e/bgppolicy_test.go
Labels: action/release-note, area/transit/bgp

#7179 Automated cherry pick of #7154: Remove stale local members in the group cache
  pkg/agent/multicast/mcast_controller.go
  pkg/agent/multicast/mcast_controller_test.go
Labels: kind/cherry-pick

#7180 Automated cherry pick of #7154: Remove stale local members in the group cache
  pkg/agent/multicast/mcast_controller.go
  pkg/agent/multicast/mcast_controller_test.go
Labels: kind/cherry-pick

#7160 Automated cherry pick of #6991: Changes for Flexible IPAM e2e tests (#6991)
  .github/workflows/kind.yml
  CONTRIBUTING.md
  ci/jenkins/README.md
  ci/jenkins/jobs/macros.yaml
  ci/jenkins/jobs/projects-cloud.yaml
  ci/jenkins/jobs/projects-lab.yaml
  test/e2e/antreapolicy_test.go
Labels: kind/cherry-pick
